{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

 <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}


        
  

  <span class="govuk-caption-xl">John Vincent Adams </span><br>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
            


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        What is their highest qualification in their main subject?
      </h1>
    </legend><br>

    <p>The subject for which the individual teaches the largest part of their timetable in a standard working week.</p>
    
    <div class="govuk-radios">
      
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in-2">
          Level 2
        </label>
        <span id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
          GCSEs/functional skills</span>
      </div>

       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
          Level 3
        </label>
        <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          A Levels/OCR nationals
        </span>
      </div>

       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
          Level 4
        </label>
        <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          Certificate of Higher Education, BTech professional diplomas
        </span>
        
      </div>

       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
          Level 5
        </label>
        <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          Foundation degree, HNC/HND
        </span>
        
      </div>

       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
          Level 6
        </label>
        <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          Bachelors degree, BTech professional diplomas
        </span>
      </div>

       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
          Level 7
        </label>
        <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          Masters degree, NVQ Level 5
        </span>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
          Level 8
        </label>
        <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          Doctorates, award, certificate diploma in strategic direction
        </span>
      </div>

       <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional">
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
          Other
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
           Enter the qualification
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false">
        </div>
      </div>

       
    </div>
  </fieldset>
</div>
</div>
</div>

<br>


          <a href="maths" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>
       
      </div>
    </div>
  
</div>


{% endblock %}