{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

 <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}


        
  <h1 class="govuk-heading-m">Impact Training Limited
  <span class="govuk-caption-m">UKPRN: 00012345</span></h1> <br>    

  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Overview</h1>

        


        <h2 class="govuk-heading-m">Vacancies</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
           

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Leaders + managers
            </dt>
            <dd class="govuk-summary-list__value">
              2
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Leaders + managers filled
            </dt>
            <dd class="govuk-summary-list__value">
              1
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Teachers
            </dt>
            <dd class="govuk-summary-list__value">
              English 2
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            
            </dt>
            <dd class="govuk-summary-list__value">
           Business Administration 1
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Level
            </dt>
            <dd class="govuk-summary-list__value">
          English Level 4 - 1
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

  

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             
            </dt>
            <dd class="govuk-summary-list__value">
              English Level 5 - 1
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Level
            </dt>
            <dd class="govuk-summary-list__value">
              Business Administration  Level 3 - 1
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time to fill English Level 4
            </dt>
            <dd class="govuk-summary-list__value">
              2 to 3 months
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time to fill English Level 5
            </dt>
            <dd class="govuk-summary-list__value">
              2 to 3 months
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time to fill English Level 3
            </dt>
            <dd class="govuk-summary-list__value">
              Less than one month
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Filled - English Level 4
            </dt>
            <dd class="govuk-summary-list__value">
              No 2
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Filled - English Level 5
            </dt>
            <dd class="govuk-summary-list__value">
              Yes - filled temporarily 1
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Filled - Business Administration Level 3
            </dt>
            <dd class="govuk-summary-list__value">
              Yes - filled temporarily 1
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>


        </dl>

        
        
    
      <div class="govuk-width-container ">
        
        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
          

<div class="govuk-width-container" onload= "retrieve_data()">
 
    <main class="govuk-main-wrapper " id="main-content" role="main">

        
       
        
        <h2 id='prepopulated' class="govuk-heading-m govuk-visually-hidden">Funding streams breakdown</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-visually-hidden" id='prepopulated-2'>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              16 to 19 Education
            </dt>
            <dd class="govuk-summary-list__value">
              230
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Adult Education budget
            </dt>
            <dd class="govuk-summary-list__value" id='test'>
              200
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Apprenticeship
            </dt>
            <dd class="govuk-summary-list__value" id='test'>
              200
            </dd>
            
          </div>
        </dl>
        
        <h2 class="govuk-heading-m">My staff</h2>
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">
          <div class="govuk-accordion__section govuk-visually-hidden" id='contractor-4'>
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
                  Adult Training Network Limited 
                </span>
              </h2>
              <dl class="govuk-summary-list govuk-summary-list--no-border"  style='margin-bottom:0px'>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Total
                  </dt>
                  <dd class="govuk-summary-list__value" >
                    200
                  </dd>
                  
                </div>
              </dl>
            </div>
            <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">
              
              <h2 class="govuk-caption-m">Funding stream: Traineeship 16-18<span style='float: right'><a href='subcontractor-form'>Edit</a> &nbsp; <a href='delete-funding'>Delete</a></span></h2>
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Staff
                  </dt>
                  <dd class="govuk-summary-list__value">
                    97
                  </dd>
                  
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Payments
                  </dt>
                  <dd class="govuk-summary-list__value">
                    200
                  </dd>
                  
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Funding retained
                  </dt>
                  <dd class="govuk-summary-list__value">
                    200
                  </dd>
                  
                </div>
                
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Location
                  </dt>
                  <dd class="govuk-summary-list__value">
                    East Midlands
                  </dd>
                  
                </div>
              </dl>
              <a href='subcontractor'>
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="checkBtn">
                  Add a member of staff
                </button>
              </a>
              <a href='delete-confirmation-2'>
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Delete 
              </button>
              </a>
            </div>
          </div>
          <div class="govuk-accordion__section govuk-visually-hidden" id='contractor-2'>
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
                  Derby College
                </span>
              </h2>
              <dl class="govuk-summary-list govuk-summary-list--no-border"  style='margin-bottom:0px'>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Total
                  </dt>
                  <dd class="govuk-summary-list__value" >
                    200
                  </dd>
                </div>
              </dl>
            </div>
            <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">
              <h2 class="govuk-caption-m">Funding stream: Traineeship 16-18<span style='float: right'><a href='subcontractor-form'>Edit</a> &nbsp; <a href='delete-funding'>Delete</a></span></h2>
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Staff
                  </dt>
                  <dd class="govuk-summary-list__value">
                    50
                  </dd>
                  
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Whatever
                  </dt>
                  <dd class="govuk-summary-list__value">
                    200
                  </dd>
                  
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Whatever
                  </dt>
                  <dd class="govuk-summary-list__value">
                    200
                  </dd>
                  
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Location
                  </dt>
                  <dd class="govuk-summary-list__value">
                    North East, West Midlands
                  </dd>
                  
                </div>
              </dl>
              
              <a href='subcontractor'>
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="checkBtn">
                  Add funding stream
                </button>
              </a>
              <a href='delete-confirmation-2'>
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Delete 
              </button>
              </a>
            </div>
          </div>
          <div class="govuk-accordion__section govuk-visually-hidden" id='contractor-3'>
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
                  Digital Skills Solutions Limited
                </span>
              </h2>
              <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                <dl class="govuk-summary-list govuk-summary-list--no-border"  style='margin-bottom:0px'>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Subtotal
                    </dt>
                    <dd class="govuk-summary-list__value" >
                      200
                    </dd>
                    
                  </div>
                </dl>
              </div>
            </div>
            <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">
              
              <h2 class="govuk-caption-m">Funding stream: Traineeship 16-18<span style='float: right'><a href='subcontractor-form'>Edit</a> &nbsp; <a href='delete-funding'>Delete</a></span></h2>
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Staff
                  </dt>
                  <dd class="govuk-summary-list__value">
                    60
                  </dd>
                  
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Payments
                  </dt>
                  <dd class="govuk-summary-list__value">
                    £ 2000
                  </dd>
                  
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Funding retained
                  </dt>
                  <dd class="govuk-summary-list__value">
                    £ 600
                  </dd>
                  
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Locations
                  </dt>
                  <dd class="govuk-summary-list__value">
                    London, North West, South East
                  </dd>
                  
                </div>
              </dl>
              <a href='subcontractor'>
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="checkBtn">
                  Add funding stream
                </button>
              </a>
              <a href='delete-confirmation-2'>
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Delete 
              </button>
              </a>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                  John Adams
                </span>
              </h2>
              <dl class="govuk-summary-list govuk-summary-list--no-border" style='margin-bottom:0px'>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Teacher
                  </dt>
                  <dd class="govuk-summary-list__value" >
                    200
                  </dd>
                  
                </div>
              </dl>
            </div>
            <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">
              
              <h2 class="govuk-caption-m">Teacher<span style='float: right'><a href='subcontractor-form'>Edit</a> &nbsp; <a href='delete-funding'>Delete</a></span></h2>
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Personal
                  </dt>
                  <dd class="govuk-summary-list__value">
                    140
                  </dd>
                  
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Job role
                  </dt>
                  <dd class="govuk-summary-list__value">
                    200
                  </dd>
                  
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Contract
                  </dt>
                  <dd class="govuk-summary-list__value">
                    200
                  </dd>
                  
                </div>
               </dl>
              </dl>
              <h2 class="govuk-caption-m govuk-visually-hidden" id='funding-2'>Funding stream: 16 to 19 Education<span style='float: right'><a href='subcontractor-form'>Edit</a> &nbsp; <a href='delete-funding'>Delete</a></span></h2>
              <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-visually-hidden" id='funding-table'>
                
      
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Learners
                  </dt>
                  <dd class="govuk-summary-list__value">
                    95
                  </dd>
                  
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Payments
                  </dt>
                  <dd class="govuk-summary-list__value">
                    £ 1200
                  </dd>
                  
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Funding retained
                  </dt>
                  <dd class="govuk-summary-list__value">
                    £ 700
                  </dd>
                  
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Locations
                  </dt>
                  <dd class="govuk-summary-list__value">
                    North West
                  </dd>
                  
                </div>
              </dl>
              <a href='subcontractor'>
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="checkBtn">
                  Add funding stream
                </button>
              </a>
              <a href='delete-confirmation-2'>
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Delete 
              </button>
              </a>
            </div>
          </div>
          </div>
          </main>
          </div>


</main>
        <div class='govuk-visually-hidden'>
        <h2 class="govuk-heading-l">My staff</h2>
        <h2 class="govuk-heading-m">John Adams <a href='#' class="govuk-caption-m" style='float: right;'>Delete</a></h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total
            </dt>
            <dd class="govuk-summary-list__value" >
              200
            </dd>
            
          </div>
        </dl>
        <h2 class="govuk-caption-m">Funding stream: Adult Education budget<span style='float: right'><a href='subcontractor-form'>Edit</a> &nbsp; <a href='delete-funding'>Delete</a></span></h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Learners
            </dt>
            <dd class="govuk-summary-list__value">
              140
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Payments
            </dt>
            <dd class="govuk-summary-list__value">
              £ 4200
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Funding retained
            </dt>
            <dd class="govuk-summary-list__value">
              £ 1200
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Locations
            </dt>
            <dd class="govuk-summary-list__value">
              East Midlands, London
            </dd>
            
          </div>
        </dl>
        <h2 class="govuk-caption-m govuk-visually-hidden" id='funding-2'>Funding stream: 16 to 19 Education<span style='float: right'><a href='subcontractor-form'>Edit</a> &nbsp; <a href='delete-funding'>Delete</a></span></h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-visually-hidden" id='funding-table'>
          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Learners
            </dt>
            <dd class="govuk-summary-list__value">
              95
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Payments
            </dt>
            <dd class="govuk-summary-list__value">
              £ 1200
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Funding retained
            </dt>
            <dd class="govuk-summary-list__value">
              £ 700
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Locations
            </dt>
            <dd class="govuk-summary-list__value">
              North West
            </dd>
            
          </div>
        </dl>
        <a href='subcontractor'>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="checkBtn">
            Add funding stream
          </button>
        </a>
        <div id='contractor-2' class='govuk-visually-hidden'>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h2 class="govuk-heading-m">Derby College <a href='#' class="govuk-caption-m" style='float: right;'>Delete</a></h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Subtotal
            </dt>
            <dd class="govuk-summary-list__value" >
              £ 2500
            </dd>
            
          </div>
        </dl>
        <h2 class="govuk-caption-m">Funding stream: Traineeship 16-18<span style='float: right'><a href='subcontractor-form'>Edit</a> &nbsp; <a href='delete-funding'>Delete</a></span></h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Learners
            </dt>
            <dd class="govuk-summary-list__value">
              50
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Payments
            </dt>
            <dd class="govuk-summary-list__value">
              £ 2500
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Funding retained
            </dt>
            <dd class="govuk-summary-list__value">
              £ 600
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Locations
            </dt>
            <dd class="govuk-summary-list__value">
              North East, West Midlands
            </dd>
            
          </div>
        </dl>
        
        <a href='subcontractor'>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="checkBtn">
            Add funding stream
          </button>
        </a>
      </div>
      
      <div id='contractor-3' class='govuk-visually-hidden'>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h2 class="govuk-heading-m">Digital Skills Solutions Limited <a href='#' class="govuk-caption-m" style='float: right;'>Delete</a></h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Subtotal
            </dt>
            <dd class="govuk-summary-list__value" >
              £ 2000
            </dd>
            
          </div>
        </dl>
        <h2 class="govuk-caption-m">Funding stream: Traineeship 16-18<span style='float: right'><a href='subcontractor-form'>Edit</a> &nbsp; <a href='delete-funding'>Delete</a><a href='#'>Delete</a></span></h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Learners
            </dt>
            <dd class="govuk-summary-list__value">
              60
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Payments
            </dt>
            <dd class="govuk-summary-list__value">
              £ 2000
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Funding retained
            </dt>
            <dd class="govuk-summary-list__value">
              £ 400
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Locations
            </dt>
            <dd class="govuk-summary-list__value">
              London, North West, South East
            </dd>
            
          </div>
        </dl>
        <a href='subcontractor'>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="checkBtn">
            Add funding stream
          </button>
        </a>
      </div>
      
      <div id='contractor-4' class='govuk-visually-hidden'>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h2 class="govuk-heading-m">Adult Training Network Limited <a href='#' class="govuk-caption-m" style='float: right;'>Delete</a></h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Subtotal
            </dt>
            <dd class="govuk-summary-list__value" >
              £ 1300
            </dd>
            
          </div>
        </dl>
        <h2 class="govuk-caption-m">Funding stream: Traineeship 16-18<span style='float: right'><a href='subcontractor-form'>Edit</a> &nbsp; <a href='delete-funding'>Delete</a></span></h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Learners
            </dt>
            <dd class="govuk-summary-list__value">
              97
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Payments
            </dt>
            <dd class="govuk-summary-list__value">
              £ 1300
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Funding retained
            </dt>
            <dd class="govuk-summary-list__value">
              £ 500
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Locations
            </dt>
            <dd class="govuk-summary-list__value">
              East Midlands
            </dd>
            
          </div>
        </dl>
        <a href='subcontractor'>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="checkBtn">
            Add funding stream
          </button>
        </a>
      </div>
        </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>
        <a href='subcontracting'>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="checkBtn">
            Add another member of staff
          </button>
        </a>
        <h2 class="govuk-heading-m">Total staff <span style='float: right'>200</span></h2>
        
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        
          <input type="hidden" name="answers-checked" value="true">
          <a href='submit'>
          <button class="govuk-button  govuk-!-margin-right-1" data-module="govuk-button">
           Continue to submit
          </button>
        </a>
        <a href='intro'><button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Save and come back later
           </button>
        </a>
        
       
        <table class="govuk-table govuk-visually-hidden" id='to-print' class=''>
          <caption class="govuk-table__caption">Overview</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Are you subcontracting?</th>
              <td class="govuk-table__cell">Yes</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Fees and charges page address</th>
              <td class="govuk-table__cell">http://www.website.com/fees-and-charges/</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Subcontracting total for this period</th>
              <td class="govuk-table__cell">£ 5400</td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table govuk-visually-hidden" id='to-print-2'>
          <caption class="govuk-table__caption">Funding streams breakdown</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">16 to 19 Education</th>
              <td class="govuk-table__cell">£ 1100</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Adult education budget</th>
              <td class="govuk-table__cell">£ 1100</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Apprenticeship</th>
              <td class="govuk-table__cell">£ 1100</td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table govuk-visually-hidden" id='to-print-3'>
          <caption class="govuk-table__caption">Adult Education budget</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Subtotal</th>
              <td class="govuk-table__cell">£ 1300</td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table govuk-visually-hidden" id='to-print-4'>
          <caption class="govuk-table__caption">Adult Education budget</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Learners</th>
              <td class="govuk-table__cell">97</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Payments</th>
              <td class="govuk-table__cell">£ 1300</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Funding retained</th>
              <td class="govuk-table__cell">£ 1200</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Locations</th>
              <td class="govuk-table__cell">East Midlands</td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table govuk-visually-hidden" id='to-print-5'>
          <caption class="govuk-table__caption">Adult Education budget</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Subtotal</th>
              <td class="govuk-table__cell">£ 2500</td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table govuk-visually-hidden" id='to-print-6'>
          <caption class="govuk-table__caption">Adult Education budget</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Learners</th>
              <td class="govuk-table__cell">50</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Payments</th>
              <td class="govuk-table__cell">£ 2500</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Funding retained</th>
              <td class="govuk-table__cell">£ 400</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Locations</th>
              <td class="govuk-table__cell">North East, West Midlands</td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table govuk-visually-hidden" id='to-print-7'>
          <caption class="govuk-table__caption">Adult Education budget</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Subtotal</th>
              <td class="govuk-table__cell">£ 2000</td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table govuk-visually-hidden" id='to-print-8'>
          <caption class="govuk-table__caption">Adult Education budget</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Learners</th>
              <td class="govuk-table__cell">60</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Payments</th>
              <td class="govuk-table__cell">£ 2000</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Funding retained</th>
              <td class="govuk-table__cell">£ 600</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Locations</th>
              <td class="govuk-table__cell">London, North West, South East</td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table govuk-visually-hidden" id='to-print-9'>
          <caption class="govuk-table__caption">Adult Education budget</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Subtotal</th>
              <td class="govuk-table__cell">£ 5400</td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table govuk-visually-hidden" id='to-print-10'>
          <caption class="govuk-table__caption">Adult Education budget</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Learners</th>
              <td class="govuk-table__cell">140</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Payments</th>
              <td class="govuk-table__cell">£ 4200</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Funding retained</th>
              <td class="govuk-table__cell">£ 1200</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Locations</th>
              <td class="govuk-table__cell">East Midlands</td>
            </tr>
          </tbody>
        </table>
        <table class="govuk-table govuk-visually-hidden" id='to-print-11'>
          <caption class="govuk-table__caption">Adult Education budget</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Learners</th>
              <td class="govuk-table__cell">95</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Payments</th>
              <td class="govuk-table__cell">£ 1200</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Funding retained</th>
              <td class="govuk-table__cell">£ 700</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Locations</th>
              <td class="govuk-table__cell">North West</td>
            </tr>
          </tbody>
        </table>
      </div>




<h2 class="govuk-heading-m govuk-!-font-size-27">Check and submit</h2>

        <p class="govuk-body">By submitting, you are confirming that to the best of your knowledge, the details you are providing are correct.</p><br>

        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <a href="confirmation-provider" class="govuk-button show-continue">
         Submit your organisation’s information
    </a>
  &nbsp; &nbsp;

    <a href="start-staff"  class="govuk-button govuk-button--secondary">Save and finish later</a>

        </form>

      </div>
    </div>
  
</div>

</fieldset><br>


        
       
      </div>
    </div>
  </main>
</div>


{% endblock %}