{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

 
  <a href="#" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}


        
  

  <span class="govuk-caption-xl">John Adams </span><br>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
            


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        What is their main subject area?
      </h1>
    </legend><br>
   
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Functional Skills (English, Maths and IT)
        </label>
      </div>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Life Skills
        </label>
      </div>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Preparation for Work
        </label>
      </div>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Supported Learning or Special Educational Needs learning provision

        </label>
      </div>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          ESOL
        </label>
      </div>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Community Learning
        </label>
      </div>
      
    

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    
   
    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="contact">
          Other
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
            Subject
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false"></div>

      </div>
  
  
 
</div>

    </div>
  </fieldset>

</div>

          <a href="highest-subject" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>
       
      </div>
    </div>
  
</div>


{% endblock %}