{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

 <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}



  <h1 class="govuk-heading-m">Impact Training Limited
  <span class="govuk-caption-m">UKPRN: 00012345</span></h1>


  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Which vacancies were filled?
              </h1>
            </legend>

            <div id="citizenship-conditional-hint" class="govuk-hint">
              Tick the boxes to indicate they were filled.
              </div>
            
            
            <br><br>

            <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-bottom-2">Construction, Planning and the Built Environment
            </h2><br>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="citizenship-conditional" name="citizen" type="checkbox" value="email" data-aria-controls="conditional-citizenship-conditional">
                <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                  Vacancy one
                </label>
              </div>
              
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox" value="phone" data-aria-controls="conditional-citizenship-conditional-2">
                <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                  Vacancy two
                </label>
              </div>
              

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox" value="phone" data-aria-controls="conditional-citizenship-conditional-2">
                <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                  Vacancy three
                </label>
              </div>
            
              
              
            </div>

            <br><br><br>

            <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-bottom-2">Digital / ICT
            </h2><br>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="citizenship-conditional" name="citizen" type="checkbox" value="email" data-aria-controls="conditional-citizenship-conditional">
                <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                  Vacancy one
                </label>
              </div>
              
              
              

              
            
              
              
            </div>

            <br><br><br>

            <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-bottom-2">Performing arts</h2><br>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="citizenship-conditional" name="citizen" type="checkbox" value="email" data-aria-controls="conditional-citizenship-conditional">
                <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                  Vacancy one
                </label>
              </div>
              
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox" value="phone" data-aria-controls="conditional-citizenship-conditional-2">
                <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                  Vacancy two
                </label>
              </div>
              

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox" value="phone" data-aria-controls="conditional-citizenship-conditional-2">
                <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                  Vacancy three
                </label>
              </div>
            
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="citizenship-conditional-3" name="citizen" type="checkbox" value="text message" data-aria-controls="conditional-citizenship-conditional-3">
                <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-3">
                  Vacancy four
                </label>
              </div>
              
            </div>
        
          </fieldset>
        </div><br>


          <a href="open" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>
       
 </div>
</div>
</div>
        



{% endblock %}