{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

 <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}


        
  <h1 class="govuk-heading-m">Impact Training Limited
  <span class="govuk-caption-m">UKPRN: 00012345</span></h1>    <br> 

  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">John Vincent Adams</h1>

        
        

       
       <ol class="app-task-list">
        <li>
         
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-completed">
                  Personal details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="role" aria-describedby="read-declaration-completed">
                  Working in FE
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
              
            </li>
          
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="subject-type" aria-describedby="company-information-completed">
                  Qualifications and programmes
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
             
            </li>
           
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="what-contract">
                  Contract
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            </li>
            
          </ul>
        </li>
        <li>
          
            </li>
          </ul>
        </li>
      </ol>




        

        

          <input type="hidden" name="answers-checked" value="true">

          <a href="list-staff-john-end" class="govuk-button show-continue" style="display: inline;">
     Back to staff list
    </a>

        </form>

      </div>
    </div>
  </main>
</div>

</fieldset><br>


        
      </div>
    </div>
  </main>
</div>


{% endblock %}