{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


      <a href="#" class="govuk-back-link">Back</a>

  <span class="govuk-caption-xl">John Vincent Adams </span><br>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

            


 <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        What are their contracted hours?
      </h1>
    </legend><br>


          
              <span id="sort-code-hint" class="govuk-hint">
    For example, 20 
  </span>

            </h1>
            <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text">
          </div>

    
  </fieldset>
</div>
</div>

<br>


          <a href="fte" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>
       
      </div>
    </div>
 
</div>


{% endblock %}