{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

 
  <a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  

  
        
  <h1 class="govuk-heading-m">Impact Training Limited
  <span class="govuk-caption-m">UKPRN: 00012345</span></h1>  <br>   

  
     <h1 class="govuk-heading-xl">
  Your staff list
</h1>
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

       <table class="govuk-table">

      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
    
      <th class="govuk-table__header" scope="col"></th>

      <th class="govuk-table__header" scope="col"></th>
      <th class="govuk-table__header" scope="col"></th>
    </tr>
</thead>



<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    
    <td class="govuk-table__cell" scope="row"><a class="browse-list-item-link" href="complete-john">John Vincent Adams</a>
        </td>
    <td class="govuk-table__cell" scope="row"> </td>
   <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Incomplete</strong></td>
  </tr>


  <tr class="govuk-table__row">
    
    <td class="govuk-table__cell" scope="row"> <a class="browse-list-item-link" a href="#">Julie Anne Angelo</a></td>
    <td class="govuk-table__cell" scope="row"> </td>
   <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Incomplete</strong></td>
  </tr>
  


</tbody>
</table> 
 <p class="govuk-table__cell--numeric"><a class="#" href="add-two">Add a member of staff</a> </p><br>

        

          <input type="hidden" name="answers-checked" value="true">

          <a href="#" class="govuk-button show-continue" style="display: inline;">
      Save
    </a>

        
      </div>
    </div>
  </main>
</div>

</fieldset><br>


       
       
      </div>
    </div>
  </main>
</div>


{% endblock %}