{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

 
  <a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}


        

  <span class="govuk-caption-xl">John Vincent Adams </span><br>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
            


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Which best describes their role?
      </h1>
    </legend><br>
    
    <div class="govuk-radios">
      


      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          Senior leadership
        </label>
        

        <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          Principals and vice-principals, working directors and CEOs, others who are part of a senior management team
        </span>
      </div><br>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Teachers
        </label>
        <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          Tutors, trainers and instructors
        </span>
      </div><br>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
          Teaching support
        </label>

        <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          Learner mentors, pastoral tutors, assessors, technicians, teaching assistants
        </span>
      </div><br>

       <br>


      
      


    </div>
  </fieldset>
</div>

<br>


          <a href="how-long-role" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}