{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

 
  <a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}


        <div class="govuk-width-container">
  

  <h1 class="govuk-heading-m">Impact Training Limited
  <span class="govuk-caption-m">UKPRN: 00012345</span></h1>

  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
          <div class="govuk-form-group">

            <h1 class="govuk-heading-xl">
  How many staff did you employ in the 2020/2021 academic year?
</h1>

            
<p>
  Include roles filled with tempoary staff but not agency workers.
Include part-time staff.
</p><br>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-postcode">
      Senior leadership 
    </label>
    <span id="sort-code-hint" class="govuk-hint">
          Principals and vice-principals, working directors and CEOs, others who are part of a senior management team
        </span>
    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
  </div>


  <div class="govuk-form-group">
    <label class="govuk-label" for="address-postcode">
      Teachers
    </label>
   <span id="sort-code-hint" class="govuk-hint">
          Tutors, trainers and instructors
        </span>
    <input class="govuk-input govuk-input--width-10" id="" name="" type="text">
  </div>


  <div class="govuk-form-group">
    <label class="govuk-label" for="address-postcode">
      Teaching support
    </label>
<span id="sort-code-hint" class="govuk-hint">
          Learner mentors, pastoral tutors, assessors, technicians, teaching assistants
        </span>

    <input class="govuk-input govuk-input--width-10" id="" name="" type="text">
  </div>



</fieldset><br><br>


          <a href="staff" class="govuk-button show-continue" style="display: inline;">
      Save and continue
    </a>
       
      </div>
    </div>
 
</div>


{% endblock %}