{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

 
  <a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}


        <div class="govuk-width-container">
 

  <h1 class="govuk-heading-m">Impact Training Limited
  <span class="govuk-caption-m">UKPRN: 00012345</span></h1>     

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        
          <div class="govuk-form-group">

            <h1 class="govuk-heading-xl">
  You have added 5 staff 
</h1>

            
<div class="govuk-inset-text">We will email a link where they can add their details</div>



        <dl class="govuk-summary-list govuk-!-margin-bottom-3">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              John Vincent Adams
            </dt>
            <dd class="govuk-summary-list__value">
              jadams@impact-training.com
            </dd>
            <dd class="govuk-summary-list__value">
              18.08.1991
            </dd>

            <dd class="govuk-summary-list__value">
              Email a self service link
            </dd>


            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="one-revisit">
                Edit</a> <a class="#" href="one-revisit">Remove<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          
        </dl>

        <dl class="govuk-summary-list govuk-!-margin-bottom-4">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Julie Angelo
            </dt>
            <dd class="govuk-summary-list__value">
              jangelo@impact-training.com
            </dd>
            <dd class="govuk-summary-list__value">
              05.05.1982
            </dd>

            <dd class="govuk-summary-list__value">
              Email a self service link
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="#" href="posts-revisit">
                Edit</a>
                <a class="#" href="posts-revisit">Remove<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          
        </dl>


         

        <dl class="govuk-summary-list govuk-!-margin-bottom-4">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Kam Balachandra
            </dt>
            <dd class="govuk-summary-list__value">
              kbalachandra@impact-training.com
            </dd>
            <dd class="govuk-summary-list__value">
              01.11.1989
            </dd>

            <dd class="govuk-summary-list__value">
              Email a self service link
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="#" href="posts-revisit">
                Edit</a>
                <a class="#" href="posts-revisit">Remove<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
        </dl>


        <dl class="govuk-summary-list govuk-!-margin-bottom-4">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Bernie O'Donnell
            </dt>
            <dd class="govuk-summary-list__value">
              bodonnell@impact-training.com
            </dd>
            <dd class="govuk-summary-list__value">
              11.02.1979
            </dd>

            <dd class="govuk-summary-list__value">
              Email a self service link
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="#" href="posts-revisit">
                Edit</a>
                <a class="#" href="posts-revisit">Remove<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

        </dl>

        <dl class="govuk-summary-list govuk-!-margin-bottom-4">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Jane Walthemstow
            </dt>
            <dd class="govuk-summary-list__value">
              jwalthemstow@impact-training.com
            </dd>
            <dd class="govuk-summary-list__value">
              29.06.1996
            </dd>

            <dd class="govuk-summary-list__value">
              Email a self service link
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="#" href="posts-revisit">
                Edit</a>
                <a class="#" href="posts-revisit">Remove<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

        </dl>


</fieldset>

<p class="govuk-table__cell--numeric"><a class="#" href="#">Add more staff</a> </p><br>


          <a href="start-staff" class="govuk-button show-continue" >
      Save
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}