{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

 
  <a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}


        
  

  <span class="govuk-caption-xl">John Adams </span><br>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
            


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        What is their highest teaching qualification?
      </h1>
    </legend><br>

    
    
    <div class="govuk-radios">

       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
          Level 3
        </label>
        <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          Level 3 Award in Education and Training, Level 3 Award in Preparing to Teach in the Lifelong Learning Sector (PTLLS)
        </span>
      </div>

       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
          Level 4
        </label>
        <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          Level 4 in Education and Training, Level 4 Certificate in Teaching in the Lifelong Learning Sector
        </span>
        
      </div>

       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
          Level 5
        </label>
        <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          Level 5 in Diploma in Education and Training, Level 5 Diploma in Teaching in the Lifelong Learning Sector (DTLLS), Level 5 Cert Ed 
        </span>
        
      </div>

       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
          Level 6
        </label>
        <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          Bachelors in Education (BEd), Level 6 Professional certificate in education (PGCE)  
        </span>
      </div>

       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
          Level 7
        </label>
        <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          Postgraduate Certificate in Education (PGCE)  
        </span>
      </div>

       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
          Don't hold a teaching qualification
        </label>
        <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          .
        </span>
        
      </div>

       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
          Working towards a teaching qualification
        </label>
        <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          .
        </span>
      </div>

      

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
          Don't know
        </label>
      </div>
        
      </div>
    </div>
  </fieldset>
</div>
</div>

<br>


          <a href="what-training" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>
       
      </div>
    </div>
  
</div>


{% endblock %}