{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

 <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}


        

  
  <span class="govuk-caption-m">Impact Training Limited</span><br>

        
        
        <h1 class="govuk-heading-xl">John Adams</h1>

        
        <h2 class="govuk-heading-m">Contract</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How many contracts
            </dt>
            <dd class="govuk-summary-list__value">
              One
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="what-contract">
                Change<span class="govuk-visually-hidden"></span>
              </a>
            </dd>

          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Main contract
            </dt>
            <dd class="govuk-summary-list__value">
              Permanent
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="contract">
                Change<span class="govuk-visually-hidden"> Sex</span>
              </a>
            </dd>
          </div>
         

         <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Annual salary
            </dt>
            <dd class="govuk-summary-list__value">
              £23000
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="salary">
                Change<span class="govuk-visually-hidden"> Ethnicity</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Weekly contracted hours
            </dt>
            <dd class="govuk-summary-list__value">
              37
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="contracted-hours">
                Change<span class="govuk-visually-hidden"> Disability</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full time equivalent
            </dt>
            <dd class="govuk-summary-list__value">
              0.9
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="fte">
                Change<span class="govuk-visually-hidden"> Sex</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Annual leave entitlement
            </dt>
            <dd class="govuk-summary-list__value">
              23
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="leave">
                Change<span class="govuk-visually-hidden"> Sex</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start date
            </dt>
            <dd class="govuk-summary-list__value">
              20.09.2019
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="date">
                Change<span class="govuk-visually-hidden"> Sex</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How long in current position
            </dt>
            <dd class="govuk-summary-list__value">
              1 to 3 years
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="how-long-role">
                Change<span class="govuk-visually-hidden"> Sex</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How long in further education
            </dt>
            <dd class="govuk-summary-list__value">
              4 to 10 years
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="how-long-education">
                Change<span class="govuk-visually-hidden"> Sex</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Do they still work for your organisation
            </dt>
            <dd class="govuk-summary-list__value">
            Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="date-stop">
                Change<span class="govuk-visually-hidden"> Sex</span>
              </a>
            </dd>
          </div>

        </dl>

        <!--<h2 class="govuk-heading-m">Your time in FE</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time in current role
            </dt>
            <dd class="govuk-summary-list__value">
              10 years
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time in organisation
            </dt>
            <dd class="govuk-summary-list__value">
              10 years
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>


<div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time in FE
            </dt>
            <dd class="govuk-summary-list__value">
              10 years
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start date
            </dt>
            <dd class="govuk-summary-list__value">
              10 years
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              End date
            </dt>
            <dd class="govuk-summary-list__value">
              10 years
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>


<div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reason for leaving
            </dt>
            <dd class="govuk-summary-list__value">
              New job
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>




          


        

          

        </dl>


        <h2 class="govuk-heading-m">Your qualifications
        </h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Management male
            </dt>
            <dd class="govuk-summary-list__value">
              10
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Management female
            </dt>
            <dd class="govuk-summary-list__value">
              10
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          

          



        </dl>



        



        <h2 class="govuk-heading-m">Submit your staff data for 2020 - 2021</h2>

        <p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p><br>

        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <a href="confirmation" class="govuk-button show-continue" style="display: inline;">
      Accept and send
    </a>

        </form>

      </div>
    </div>
  </main>
</div>

</fieldset><br>-->


         <a href="complete-john-five" class="govuk-button show-continue" style="display: inline;">
      Back to summary list
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}