{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

 <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}


        

  
  <span class="govuk-caption-m">Impact Training Limited</span><br>

        
        
        <h1 class="govuk-heading-xl">John Adams</h1>

        <h2 class="govuk-heading-m">Job role</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Roles
            </dt>
            <dd class="govuk-summary-list__value">
              Teacher, manager
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="role">
                Change<span class="govuk-visually-hidden"></span>
              </a>
            </dd>

          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Main role
            </dt>
            <dd class="govuk-summary-list__value">
              Teacher
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="role-main">
                Change<span class="govuk-visually-hidden"> Sex</span>
              </a>
            </dd>
          </div>
         

         <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Subjects they teach
            </dt>
            <dd class="govuk-summary-list__value">
              Animal Care
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="qualification-type">
                Change<span class="govuk-visually-hidden"> Ethnicity</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Highest level they teach
            </dt>
            <dd class="govuk-summary-list__value">
              Level 2
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="highest-subject">
                Change<span class="govuk-visually-hidden"> Disability</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Highest qualification - Maths
            </dt>
            <dd class="govuk-summary-list__value">
              Level 4
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="matha">
                Change<span class="govuk-visually-hidden"> Sex</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Highest qualification - English
            </dt>
            <dd class="govuk-summary-list__value">
              Level 4
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="english">
                Change<span class="govuk-visually-hidden"> Sex</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Highest teaching qualification
            </dt>
            <dd class="govuk-summary-list__value">
              Level 4
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="what-teaching-qualification">
                Change<span class="govuk-visually-hidden"> Sex</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Professional teaching status
            </dt>
            <dd class="govuk-summary-list__value">
              None of these
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="edit">
                Change<span class="govuk-visually-hidden"> Sex</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Working in industry 
            </dt>
            <dd class="govuk-summary-list__value">
              Less than one year
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="what-training">
                Change<span class="govuk-visually-hidden"> Sex</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Still work in industry 
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="industry">
                Change<span class="govuk-visually-hidden"> Sex</span>
              </a>
            </dd>
          </div>

        </dl>

        <!--<h2 class="govuk-heading-m">Your time in FE</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time in current role
            </dt>
            <dd class="govuk-summary-list__value">
              10 years
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time in organisation
            </dt>
            <dd class="govuk-summary-list__value">
              10 years
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>


<div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time in FE
            </dt>
            <dd class="govuk-summary-list__value">
              10 years
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start date
            </dt>
            <dd class="govuk-summary-list__value">
              10 years
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              End date
            </dt>
            <dd class="govuk-summary-list__value">
              10 years
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>


<div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reason for leaving
            </dt>
            <dd class="govuk-summary-list__value">
              New job
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>




          


        

          

        </dl>


        <h2 class="govuk-heading-m">Your qualifications
        </h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Management male
            </dt>
            <dd class="govuk-summary-list__value">
              10
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Management female
            </dt>
            <dd class="govuk-summary-list__value">
              10
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          

          



        </dl>



        



        <h2 class="govuk-heading-m">Submit your staff data for 2020 - 2021</h2>

        <p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p><br>

        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <a href="confirmation" class="govuk-button show-continue" style="display: inline;">
      Accept and send
    </a>

        </form>

      </div>
    </div>
  </main>
</div>

</fieldset><br>-->


         <a href="complete-john-four" class="govuk-button show-continue" style="display: inline;">
      Back to summary list
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}