{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}


        
  <h1 class="govuk-heading-m">Impact Training Limited
  <span class="govuk-caption-m">UKPRN: 00012345</span></h1>   <br>  

  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">John Vincent Adams</h1>

        
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col"> </th>
              <th class="govuk-table__header" scope="col"> </th>
            </tr>
          </thead>
          
          
          
          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <h3 class="govuk-heading-m">
                <a href="#" class="govuk-link govuk-link--no-visited-state">
                  </a></h3>
                 
              </td>
              
              <td class="govuk-table__cell" scope="row"> </td>
             <td class="govuk-table__cell"></td>
            </tr>
                  
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                
                <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                  <a href="answers-staff" class="govuk-link govuk-link--no-visited-state">
                    Personal
                  </a></h3>
                  <p>
                    Date of Birth: 18 August 1992<br>
                  Sex: Male<br>
                  Ethnicity: White<br>
                  Disability: No<BR>
                Nationality: English</p>
              </td>
              <td class="govuk-table__cell" scope="row"> </td>
             <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong></td>
            </tr>
            
            
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                
                <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                <a href="qualification-type" class="govuk-link govuk-link--no-visited-state">
                  Teaching</a></h3>
                 <!--<p>
                    18 August 1992<br>
                  Male<br>
                  White<br>
                English</p>-->
                 
              </td>
              <td class="govuk-table__cell" scope="row"> </td>
             <td class="govuk-table__cell">
               
              <strong class="govuk-tag govuk-tag--grey" id="contact-details-status">not started</strong></td>
             
          </tr>
         
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                <a href="what-contract" class="govuk-link govuk-link--no-visited-state">
                  Contract</a></h3>
                  <!--<p>
                    18 August 1992<br>
                  Male<br>
                  White<br>
                English</p>-->
              </td>
              
              <td class="govuk-table__cell" scope="row"> </td>
             <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--grey" id="contact-details-status">not started</strong></td>
            </tr>

            

            
            
           
        
            
          </tbody>
        </table> 

       

       
       <!--<ol class="app-task-list">
        <li>
         
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="answers-staff" aria-describedby="eligibility-completed">
                  Personal
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            </li>
            
          
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="qualification-type" aria-describedby="company-information-completed">
                  Teaching
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Incomplete</strong>
             
            </li>


            


            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="what-contract">
                  Contract
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Incomplete</strong>
            </li>
            
          </ul>
        </li>
        <li>
          
            </li>
          </ul>
        </li>
      </ol>-->




        

        

          <input type="hidden" name="answers-checked" value="true">

          <a href="list-staff-john" class="govuk-button show-continue" style="display: inline;">
      Staff list
    </a>

        </form>

      </div>
    </div>
  </main>
</div>

</fieldset><br>


        
      </div>
    </div>
  </main>
</div>


{% endblock %}