{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <a href="#" class="govuk-back-link">Back</a>
 

  <h1 class="govuk-heading-m">Teaching staff
  <span class="govuk-caption-m">Impact Training Limited</span></h1>

        <h1 class="govuk-heading-xl">John Vincent Adams</h1>


        <nav role="navigation">
  <ul class="browse-list">
    
      <li class="browse-list-item">
        <a class="browse-list-item-link" href="gender">About you</a>
        
          <p class="browse-list-item-body">
            Personal information about you
          </p>
        
        
          <p class="browse-list-item-subtext">
            Lorem ipsum dolor sit amet  <a href="#">Lorem ipsum </a>
          </p>
        
        
      </li>
    
      <li class="browse-list-item">
        <a class="browse-list-item-link" href="#nope">Your time in further education</a>
        
        
          <p class="browse-list-item-subtext">
            Lorem ipsum dolor sit amet<a href="#"></a>
          </p>
        
        
      </li>
    
      <li class="browse-list-item">
        <a class="browse-list-item-link" href="#nope">Your qualifications</a>
        
          <p class="browse-list-item-body">
            consectetur adipiscing elit
          </p>
        
        
      </li>
    
  </ul>
</nav>
  
<div class="browse-list-item-status-happy">
              <p class="browse-list-item-status-title">
                You are submitting
              </p>
                <ul class="browse-list-item-status-list">
                    <li>
                      teaching qualifications
                    </li>
                    <li>
                      subject qualifications
                    </li>
                </ul>
            </div><br>
  

<nav role="navigation">
  <ul class="browse-list">
    
      <li class="browse-list-item">
        <a class="browse-list-item-link" href="#">The subjects you teach</a>
        
          <p class="browse-list-item-body">
            quis nostrud exercitation ullamco 
          </p>
        
        
          <p class="browse-list-item-subtext">
        Lorem ipsum dolor sit amet <a href="#">consectetur adipiscing elit</a>
          </p>
        
        
      </li>
    
      <li class="browse-list-item">
        <a class="browse-list-item-link" href="#nope">About your contract</a>
        
        
          <p class="browse-list-item-subtext">
       Lorem ipsum dolor sit amet <a href="#">consectetur adipiscing </a>
          </p>
        
        
      </li>
    
      
    
  </ul>
</nav>
        
      

          <!--<a href="questions" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>-->
        

        </div>

        
      </div>

     
    </div>
  


{% endblock %}