{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

 <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}


   <span class="govuk-caption-xl">Impact Training Limited</span>


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
          <div class="govuk-form-group">

            <h1 class="govuk-heading-xl">
  Add a staff member
</h1>

            
<p>Tell us about any full-time, part-time or temporary staff. 
    </p><br>

    <p>We don't use the names of your staff. We ask you to enter them here but this is to help you identify them while you complete this form.
    </p><br>
  <div class="govuk-form-group">
  <label class="govuk-label" for="full-name">
    First names
  </label>
  <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name" spellcheck="false">
</div>

  

  

  <br>

  <div class="govuk-form-group">
  <label class="govuk-label" for="full-name">
    Last name
  </label>
  <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name" spellcheck="false">
</div>

  

  

  <br><br>

  <h2 class="govuk-heading-m">Date of birth</h2>


  
    <span id="dob-hint" class="govuk-hint">
      For example, 31 3 1980
    </span>
    <div class="govuk-date-input" id="dob">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="dob-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text" autocomplete="bday-day" pattern="[0-9]*" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="dob-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text" autocomplete="bday-month" pattern="[0-9]*" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="dob-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text" autocomplete="bday-year" pattern="[0-9]*" inputmode="numeric">
        </div>
      </div>
    </div>

    
  
</div>

</fieldset>

<br><br>

<h2 class="govuk-heading-m">Gender</h2>

<fieldset class="govuk-fieldset">
   
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ethnic-group" name="ethnic-group" type="radio" value="asian-or-asian-british" aria-describedby="ethnic-group-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="ethnic-group">
          Male
        </label>
        <span id="ethnic-group-item-hint" class="govuk-hint govuk-radios__hint">
          
        </span>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ethnic-group-2" name="ethnic-group" type="radio" value="black-african-black-british-or-caribbean" aria-describedby="ethnic-group-2-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="ethnic-group-2">
          Female
        </label>
        <span id="ethnic-group-2-item-hint" class="govuk-hint govuk-radios__hint">
          
        </span>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ethnic-group-3" name="ethnic-group" type="radio" value="mixed-or-multiple-ethnic-groups" aria-describedby="ethnic-group-3-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="ethnic-group-3">
          Other
        </label>
        <span id="ethnic-group-3-item-hint" class="govuk-hint govuk-radios__hint">
          
        </span>
      </div>
      
      
      <div class="govuk-radios__divider">or</div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ethnic-group-7" name="ethnic-group" type="radio" value="prefer-not-to-say">
        <label class="govuk-label govuk-radios__label govuk-label" for="ethnic-group-7">
          Prefer not to say
        </label>
      </div>
    </div>
  </fieldset>

  <br><br><br>



  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h2 class="govuk-heading-m">Ethnicity</h2>
    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ethnic-group" name="ethnic-group" type="radio" value="asian-or-asian-british" aria-describedby="ethnic-group-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="ethnic-group">
          White
        </label>
        <span id="ethnic-group-item-hint" class="govuk-hint govuk-radios__hint">
          <ul class="govuk-list govuk-list--bullet">
      <li>English / Welsh / Scottish / Northern Irish / British
      </li>

      <li>Irish</li>

      <li>Gypsy or Irish Traveller</li>

      <li>Any other White background</li>

    </ul>
        </span>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ethnic-group-2" name="ethnic-group" type="radio" value="black-african-black-british-or-caribbean" aria-describedby="ethnic-group-2-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="ethnic-group-2">
          Mixed / Multiple ethnic groups
        </label>
        <span id="ethnic-group-2-item-hint" class="govuk-hint govuk-radios__hint">
          <ul class="govuk-list govuk-list--bullet">
          <li>White and Black Caribbean</li>
<li>White and Black African</li>
<li>White and Asian</li>
<li>Any other Mixed / Multiple ethnic background</li>
        </ul></span>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ethnic-group-3" name="ethnic-group" type="radio" value="mixed-or-multiple-ethnic-groups" aria-describedby="ethnic-group-3-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="ethnic-group-3">
          Asian / Asian British
        </label>
        <span id="ethnic-group-3-item-hint" class="govuk-hint govuk-radios__hint">
          <ul class="govuk-list govuk-list--bullet">
          <li>Indian</li>
<li>Pakistani</li>
<li>Bangladeshi</li>
<li>Any other Asian background</li>
        </ul>
        </span>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ethnic-group-4" name="ethnic-group" type="radio" value="white" aria-describedby="ethnic-group-4-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="ethnic-group-4">
          Black / African / Caribbean / Black British
        </label>
        <span id="ethnic-group-4-item-hint" class="govuk-hint govuk-radios__hint">
          <ul class="govuk-list govuk-list--bullet">
          <li>African</li>
<li>Caribbean</li>

<li>Any other Black / African / Caribbean background</li>
        </ul>
        </span>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ethnic-group-5" name="ethnic-group" type="radio" value="another-ethnic-group" aria-describedby="ethnic-group-5-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="ethnic-group-5">
          Other ethnic group
        </label>
        <span id="ethnic-group-5-item-hint" class="govuk-hint govuk-radios__hint">
          <ul class="govuk-list govuk-list--bullet">
          <li>Arab</li>
          <li>Any other ethnic group</li>
        </ul>
        </span>
      </div>
      <div class="govuk-radios__divider">or</div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ethnic-group-6" name="ethnic-group" type="radio" value="prefer-not-to-say">
        <label class="govuk-label govuk-radios__label govuk-label" for="ethnic-group-6">
          Prefer not to say
        </label>
      </div>
    </div>
  </fieldset>

  <br><br><br>


  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h2 class="govuk-heading-m">Disability</h2>
    </legend>
     <span id="nationality-hint" class="govuk-hint">
       A person is considered to have a disability if they have a self-reported long-standing illness, condition or impairment which causes difficulty with day-to-day activities. 
    </span>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ethnic-group" name="ethnic-group" type="radio" value="asian-or-asian-british" aria-describedby="ethnic-group-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="ethnic-group">
          Yes
        </label>
        <span id="ethnic-group-item-hint" class="govuk-hint govuk-radios__hint">
          
        </span>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ethnic-group-2" name="ethnic-group" type="radio" value="black-african-black-british-or-caribbean" aria-describedby="ethnic-group-2-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="ethnic-group-2">
          No
        </label>
        <span id="ethnic-group-2-item-hint" class="govuk-hint govuk-radios__hint">
          
        </span>
      </div>
      
      
      
      <div class="govuk-radios__divider">or</div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ethnic-group-7" name="ethnic-group" type="radio" value="prefer-not-to-say">
        <label class="govuk-label govuk-radios__label govuk-label" for="ethnic-group-7">
          Prefer not to say
        </label>
      </div>
    </div>
  </fieldset>


  <br><br><br>


  <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
   
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-heading-m">Nationality</h2>
    </legend>
    
    <span id="nationality-hint" class="govuk-hint">
      If they have dual nationality, select all options that are relevant.
    </span>
    <div class="govuk-checkboxes">

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
        <label class="govuk-label govuk-checkboxes__label" for="nationality">
          British
        </label>
        <span id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
          
        </span>
      </div>


      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
        <label class="govuk-label govuk-checkboxes__label" for="nationality">
          EU including Irish
        </label>
        <span id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
          
        </span>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
        <label class="govuk-label govuk-checkboxes__label" for="nationality">
          Rest of the world
        </label>
        <span id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
          
        </span>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
        <label class="govuk-label govuk-checkboxes__label" for="nationality">
          
Prefer not to say
        </label>
        <span id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
          
        </span>
      </div> 
      
     

    </div>

  

  </fieldset>
</div>
</div>


  <br><br><br>


          <a href="staff-zero" class="govuk-button show-continue" style="display: inline;">
      Save and continue
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}