{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

 
  <a href="#" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
          <div class="govuk-form-group">
        
  <h1 class="govuk-heading-m">Impact Training Limited
  <span class="govuk-caption-m">UKPRN: 00012345</span></h1>     

  
     <h1 class="govuk-heading-xl">
  Staff list
</h1>




<a href="add-two"  class="govuk-button govuk-button--secondary">Add a member of staff </a>
<br> <br>


<h2 class="govuk-heading-m app-application-cards__heading">Incomplete staff members</h2>


<div class="app-application-cards">
  <div class="app-application-card">
    <div class="app-application-card__primary">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a href="/applications/7H0RQT4" class="govuk-link govuk-link--no-visited-state">
          Alcine Muller
        </a>
      </h3>
      <p class="govuk-!-margin-bottom-1 govuk-!-font-size-16">Classics (FBKH) – full time at Camberley</p>
      <p class="govuk-caption-m govuk-!-font-size-16">The Royal Borough Teaching School Alliance – ratified by Springbank SCITT</p>
    </div>
    <div class="app-application-card__secondary">
      <div class="app-application-card__status">
        <strong class="govuk-tag app-tag--orange govuk-!-margin-bottom-1 govuk-!-font-size-14">
    Offer withdrawn
  </strong>
        <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-0">2019 to 2020 (starts 2020)</p>
      </div>
    </div>
  </div>

  <div class="app-application-card">
    <div class="app-application-card__primary">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a href="/applications/7H0RQT4" class="govuk-link govuk-link--no-visited-state">
          Alcine Muller
        </a>
      </h3>
      <p class="govuk-!-margin-bottom-1 govuk-!-font-size-16">Classics (FBKH) – full time at Camberley</p>
      <p class="govuk-caption-m govuk-!-font-size-16">The Royal Borough Teaching School Alliance – ratified by Springbank SCITT</p>
    </div>
    <div class="app-application-card__secondary">
      <div class="app-application-card__status">
        <strong class="govuk-tag app-tag--orange govuk-!-margin-bottom-1 govuk-!-font-size-14">
    Offer withdrawn
  </strong>
        <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-0">2019 to 2020 (starts 2020)</p>
      </div>
    </div>
  </div>

  <div class="app-application-card">
    <div class="app-application-card__primary">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a href="/applications/7H0RQT4" class="govuk-link govuk-link--no-visited-state">
          Alcine Muller
        </a>
      </h3>
      <p class="govuk-!-margin-bottom-1 govuk-!-font-size-16">Classics (FBKH) – full time at Camberley</p>
      <p class="govuk-caption-m govuk-!-font-size-16">The Royal Borough Teaching School Alliance – ratified by Springbank SCITT</p>
    </div>
    <div class="app-application-card__secondary">
      <div class="app-application-card__status">
        <strong class="govuk-tag app-tag--orange govuk-!-margin-bottom-1 govuk-!-font-size-14">
    Offer withdrawn
  </strong>
        <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-0">2019 to 2020 (starts 2020)</p>
      </div>
    </div>
  </div>

  <div class="app-application-card">
    <div class="app-application-card__primary">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a href="/applications/7H0RQT4" class="govuk-link govuk-link--no-visited-state">
          Alcine Muller
        </a>
      </h3>
      <p class="govuk-!-margin-bottom-1 govuk-!-font-size-16">Classics (FBKH) – full time at Camberley</p>
      <p class="govuk-caption-m govuk-!-font-size-16">The Royal Borough Teaching School Alliance – ratified by Springbank SCITT</p>
    </div>
    <div class="app-application-card__secondary">
      <div class="app-application-card__status">
        <strong class="govuk-tag app-tag--orange govuk-!-margin-bottom-1 govuk-!-font-size-14">
    Offer withdrawn
  </strong>
        <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-0">2019 to 2020 (starts 2020)</p>
      </div>
    </div>
  </div>

  <div class="app-application-card">
    <div class="app-application-card__primary">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a href="/applications/7H0RQT4" class="govuk-link govuk-link--no-visited-state">
          Alcine Muller
        </a>
      </h3>
      <p class="govuk-!-margin-bottom-1 govuk-!-font-size-16">Classics (FBKH) – full time at Camberley</p>
      <p class="govuk-caption-m govuk-!-font-size-16">The Royal Borough Teaching School Alliance – ratified by Springbank SCITT</p>
    </div>
    <div class="app-application-card__secondary">
      <div class="app-application-card__status">
        <strong class="govuk-tag app-tag--orange govuk-!-margin-bottom-1 govuk-!-font-size-14">
    Offer withdrawn
  </strong>
        <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-0">2019 to 2020 (starts 2020)</p>
      </div>
    </div>
  </div>
  </div> 
  


 

        </form>

      </div>
    </div>
  </main>
</div>



{% endblock %}