{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}


        
  <h1 class="govuk-heading-m">Impact Training Limited
  <span class="govuk-caption-m">UKPRN: 00012345</span></h1>     

  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">John Adams</h1><br>

        
        

       
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          
          </dt>
          
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="answers-staff" class="govuk-link govuk-link--no-visited-state">
                Personal
              </a></h3>
              <p>
                Male<br>
              White</p>
          </dt>
          
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--blue" id="eligibility-completed">Completed</strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                <a href="role" class="govuk-link govuk-link--no-visited-state">
                  Job role</a></h3>
                 <p>
                    Teacher<br>
          </dt>
         
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--blue" id="contact-details-status">Completed</strong></td>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="what-contract" class="govuk-link govuk-link--no-visited-state">
                Contract</a></h3>
                <!--<p>
                  18 August 1992<br>
                Male<br>
                White<br>
              English</p>-->
          </dt>
          
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag app-tag--grey" id="contact-details-status">not started</strong></td>
          </dd>
        </div>
      </dl>




        

        

          <input type="hidden" name="answers-checked" value="true">

          <a href="list-staff-john" class="govuk-button show-continue" style="display: inline;">
      Staff list
    </a>

        </form>

      </div>
    </div>
  </main>
</div>

</fieldset><br>


        
      </div>
    </div>
  </main>
</div>


{% endblock %}