{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

 <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}


        
  <h1 class="govuk-heading-m">Impact Training Limited
  <span class="govuk-caption-m">UKPRN: 00012345</span></h1> <br>    

  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Overview</h1>

    
      <div class="govuk-width-container ">
        
        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
          



        
       
        
        <h2 id='prepopulated' class="govuk-heading-m govuk-visually-hidden">Funding streams breakdown</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-visually-hidden" id='prepopulated-2'>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              16 to 19 Education
            </dt>
            <dd class="govuk-summary-list__value">
              230
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Adult Education budget
            </dt>
            <dd class="govuk-summary-list__value" id='test'>
              200
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Apprenticeship
            </dt>
            <dd class="govuk-summary-list__value" id='test'>
              200
            </dd>
            
          </div>
        </dl>
        
        <h2 class="govuk-heading-l">Your staff</h2>
       

        </fieldset>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections"><div class="govuk-accordion__controls"><button type="button" class="govuk-accordion__open-all" aria-expanded="false">Open all<span class="govuk-visually-hidden"> sections</span></button></div>
          
          <div class="govuk-accordion__section" id="contractor-3">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                
              <button type="button" id="accordion-with-summary-sections-heading-3" aria-controls="accordion-with-summary-sections-content-1" class="govuk-accordion__section-button" aria-describedby="accordion-with-summary-sections-summary-1" aria-expanded="false">
                  John Adams
                <span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>
              <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                <dl class="govuk-summary-list govuk-summary-list--no-border" style="margin-bottom:0px">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Male
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Teacher
                    </dd>
                    
                  </div>
                </dl>
              </div>
            </div>
            <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">
              
              <h2 class="govuk-caption-m">Teacher<span style="float: right"><a href="#">Edit</a></span></h2>
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Personal information
                  </dt>
                  <dd class="govuk-summary-list__value">
                    
                  </dd>
                  
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Job role
                  </dt>
                  <dd class="govuk-summary-list__value">
                    
                  </dd>
                  
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Contract
                  </dt>
                  <dd class="govuk-summary-list__value">
                    
                  </dd>
                  
                </div>
                
              </dl>
              
              <a href="delete-confirmation-2">
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Delete staff member
              </button>
              </a>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                
              <button type="button" id="accordion-with-summary-sections-heading-1" aria-controls="accordion-with-summary-sections-content-2" class="govuk-accordion__section-button" aria-expanded="false">
                Amy Cozan
                <span class="govuk-accordion__icon" aria-hidden="true"></span></button></h2>
              <dl class="govuk-summary-list govuk-summary-list--no-border" style="margin-bottom:0px">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Female
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Teacher
                  </dd>
                  
                </div>
              </dl>
            </div>
            <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">
              
              <h2 class="govuk-caption-m">Teacher<span style="float: right"><a href="#">Edit</a></span></h2>
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Personal
                  </dt>
                  <dd class="govuk-summary-list__value">
                    
                  </dd>
                  
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Job role
                  </dt>
                  <dd class="govuk-summary-list__value">
                    
                  </dd>
                  
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Contract
                  </dt>
                  <dd class="govuk-summary-list__value">
                    
                  </dd>
                  
                </div>
                
              </dl>
              
              
              <a href="delete-confirmation-2">
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Delete staff member
              </button>
              </a>
            </div>
            </div>
          </div>

          <a href="add"  class="govuk-button govuk-button--secondary">Add a staff member</a>

          <br><br><br><br>


<h2 class="govuk-heading-m govuk-!-font-size-27">Check and submit</h2>

        <p class="govuk-body">By submitting, you are confirming that to the best of your knowledge, the details you are providing are correct.</p><br>

        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <a href="confirmation" class="govuk-button show-continue">
         Submit your staff information
    </a>
  &nbsp; &nbsp;

    <a href="start-staff"  class="govuk-button govuk-button--secondary">Save and finish later</a>

        </form>

      </div>
    </div>
  
</div>

</fieldset><br>


        
       
      </div>
    </div>
  </main>
</div>


{% endblock %}