{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}


        
  <h1 class="govuk-heading-m">Impact Training Limited
  <span class="govuk-caption-m">UKPRN: 00012345</span></h1>     

  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-xl">John Vincent Adams</h1>

        <h2 class="govuk-heading-m">Personal</h2>
        

       
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of Birth: 
            </dt>
            <dd class="govuk-summary-list__value">
              18.08.1991
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
                <span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Gender
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Male</p>
            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
                <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Ethnicity
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">White</p>
            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
                <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Disability
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Prefer not to say</p>
            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
                <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Nationality
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">British</p>
            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change
                <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>


        </dl>






        <h2 class="govuk-heading-m">Time in Further Education</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
           


        
           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Job title
            </dt>
            <dd class="govuk-summary-list__value">
              Teacher
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time in role
            </dt>
            <dd class="govuk-summary-list__value">
              1 - 5
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time with organisation
            </dt>
            <dd class="govuk-summary-list__value">
              Don't know
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time in FE
            </dt>
            <dd class="govuk-summary-list__value">
             Don't know
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contract type
            </dt>
            <dd class="govuk-summary-list__value">
             Permanent
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Paid by
            </dt>
            <dd class="govuk-summary-list__value">
             Weekly
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

 <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Annual salary
            </dt>
            <dd class="govuk-summary-list__value">
             £30,000 - £39,999
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Benefits
            </dt>
            <dd class="govuk-summary-list__value">
             Sickness
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

           <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date stopped
            </dt>
            <dd class="govuk-summary-list__value">
             23/09/2020
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
          


        </dl>



        


       <h2 class="govuk-heading-m">Qualifications</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Highest in Maths
            </dt>
            <dd class="govuk-summary-list__value">
              Degree
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Highest in English
            </dt>
            <dd class="govuk-summary-list__value">
              Don't know
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          
          

          
<div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Highest academic
            </dt>
            <dd class="govuk-summary-list__value">
              A Level Maths
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Highest related
            </dt>
            <dd class="govuk-summary-list__value">
              A Level Maths
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Teaching qualification
            </dt>
            <dd class="govuk-summary-list__value">
              QTS
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Highest teaching
            </dt>
            <dd class="govuk-summary-list__value">
              Unsure
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Currently training
            </dt>
            <dd class="govuk-summary-list__value">
              Yes - Level 3
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation funding
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

        </dl>



        <h2 class="govuk-heading-m">Subjects taught</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Romeo Bridger
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              0789 997 6604
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          
          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
              rbridger@elatt.co.uk
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          



        </dl>


        <h2 class="govuk-heading-m">Contract</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Jane Smith
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              0789 997 6604
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          
          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
              jsmith@elatt.co.uk
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          

          

        </dl>



<h2 class="govuk-heading-m govuk-!-font-size-27">Check and submit</h2>

        <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p><br>

        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <a href="confirmation" class="govuk-button show-continue" style="display: inline;">
      Submit your staff details
    </a>

        </form>

      </div>
    </div>
  </main>
</div>

</fieldset><br>


        <!--  <a href="seven" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>-->
       
      </div>
    </div>
  </main>
</div>


{% endblock %}