{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}


        
  <h1 class="govuk-heading-m">Impact Training Limited
  <span class="govuk-caption-m">UKPRN: 00012345</span></h1>     

  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-xl">John Vincent Adams</h1>

       
        

       
        <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Staff details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-completed">
                  Personal
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-completed">
                  Time in Further Education
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-completed">
                  Qualicifations
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-completed">
                  Subjects taught
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-completed">
                  Contract
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="read-declaration-completed">Completed</strong>
            </li>
          </ul>
        </li>
        <li>
          
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Submit
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#">
                  Save and submit
                </a>
              </span>
            </li>
          </ul>
        </li>
      </ol>




        

        

          <input type="hidden" name="answers-checked" value="true">

          <a href="hello" class="govuk-button show-continue" style="display: inline;">
      Save
    </a>

        </form>

      </div>
    </div>
  </main>
</div>

</fieldset><br>


        <!--  <a href="seven" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>-->
       
      </div>
    </div>
  </main>
</div>


{% endblock %}