{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

 <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}


   <span class="govuk-caption-xl">Warwickshire college</span>


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
          <div class="govuk-form-group">

            <h1 class="govuk-heading-xl">
  What is their ethnicity?
</h1>

<h2 class="govuk-heading-m">
  White
</h2>

<ul class="browse-list">
  

  <div class="govuk-form-group">
    <label class="govuk-label" for="postcode">
      English / Welsh / Scottish / Northern Irish / British
    </label>
    <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" autocomplete="postal-code"></div>
    
    <div class="govuk-form-group">
      <label class="govuk-label" for="postcode">
        Irish
      </label>
      <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" autocomplete="postal-code"></div>
    
      <div class="govuk-form-group">
        <label class="govuk-label" for="postcode">
          Gypsy or Irish Traveller
        </label>
        <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" autocomplete="postal-code"></div>
    
        <div class="govuk-form-group">
          <label class="govuk-label" for="postcode">
            Any other White background</label>
          <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" autocomplete="postal-code"></div>
    
          
              
</ul><br><br>


  <fieldset class="govuk-fieldset">
    
    
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ethnic-group-2" name="ethnic-group" type="radio" value="black-african-black-british-or-caribbean" aria-describedby="ethnic-group-2-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="ethnic-group-2">
          Mixed / Multiple ethnic groups
        </label>
        <span id="ethnic-group-2-item-hint" class="govuk-hint govuk-radios__hint">
          <ul class="govuk-list govuk-list--bullet">
          <li>White and Black Caribbean</li>
<li>White and Black African</li>
<li>White and Asian</li>
<li>Any other Mixed / Multiple ethnic background</li>
        </ul></span>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ethnic-group-3" name="ethnic-group" type="radio" value="mixed-or-multiple-ethnic-groups" aria-describedby="ethnic-group-3-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="ethnic-group-3">
          Asian / Asian British
        </label>
        <span id="ethnic-group-3-item-hint" class="govuk-hint govuk-radios__hint">
          <ul class="govuk-list govuk-list--bullet">
          <li>Indian</li>
<li>Pakistani</li>
<li>Bangladeshi</li>
<li>Any other Asian background</li>
        </ul>
        </span>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ethnic-group-4" name="ethnic-group" type="radio" value="white" aria-describedby="ethnic-group-4-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="ethnic-group-4">
          Black / African / Caribbean / Black British
        </label>
        <span id="ethnic-group-4-item-hint" class="govuk-hint govuk-radios__hint">
          <ul class="govuk-list govuk-list--bullet">
          <li>African</li>
<li>Caribbean</li>

<li>Any other Black / African / Caribbean background</li>
        </ul>
        </span>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ethnic-group-5" name="ethnic-group" type="radio" value="another-ethnic-group" aria-describedby="ethnic-group-5-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="ethnic-group-5">
          Other ethnic group
        </label>
        <span id="ethnic-group-5-item-hint" class="govuk-hint govuk-radios__hint">
          <ul class="govuk-list govuk-list--bullet">
          <li>Arab</li>
          <li>Any other ethnic group</li>
        </ul>
        </span>
      </div>
      <div class="govuk-radios__divider">or</div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="ethnic-group-6" name="ethnic-group" type="radio" value="prefer-not-to-say">
        <label class="govuk-label govuk-radios__label govuk-label" for="ethnic-group-6">
          Prefer not to say
        </label>
      </div>
    </div>
  </fieldset>

  <BR><BR>





          <a href="leader" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}