{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

 <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}


   <span class="govuk-caption-xl">Warwickshire college</span>


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
          <div class="govuk-form-group">

            <h1 class="govuk-heading-xl">
  What is their ethnicity?
</h1>

<h2 class="govuk-heading-m">White
</h2>

<ul class="browse-list">
  

  <div class="govuk-form-group">
    <label class="govuk-label" for="postcode">
      English / Welsh / Scottish / Northern Irish / British
    </label>
    <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" autocomplete="postal-code"></div>
    
    <div class="govuk-form-group">
      <label class="govuk-label" for="postcode">
        Irish
      </label>
      <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" autocomplete="postal-code"></div>
    
      <div class="govuk-form-group">
        <label class="govuk-label" for="postcode">
          Gypsy or Irish Traveller
        </label>
        <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" autocomplete="postal-code"></div>
    
        <div class="govuk-form-group">
          <label class="govuk-label" for="postcode">
            Any other White background</label>
          <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" autocomplete="postal-code"></div>
    
          
              
</ul><br><br>

<h2 class="govuk-heading-m">Mixed / Multiple ethnic groups
</h2>

<ul class="browse-list">
  

  <div class="govuk-form-group">
    <label class="govuk-label" for="postcode">
      White and Black Caribbean
    
    </label>
    <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" autocomplete="postal-code"></div>
    
    <div class="govuk-form-group">
      <label class="govuk-label" for="postcode">
        White and Black African
        
      </label>
      <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" autocomplete="postal-code"></div>
    
      <div class="govuk-form-group">
        <label class="govuk-label" for="postcode">
          White and Asian
        
        </label>
        <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" autocomplete="postal-code"></div>
    
        <div class="govuk-form-group">
          <label class="govuk-label" for="postcode">
            Any other Mixed / Multiple ethnic background</label>
          <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" autocomplete="postal-code"></div>
    
          
              
</ul><br><br>

<h2 class="govuk-heading-m">Asian / Asian British
</h2>

<ul class="browse-list">
  

  <div class="govuk-form-group">
    <label class="govuk-label" for="postcode">
      Indian
    
    </label>
    <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" autocomplete="postal-code"></div>
    
    <div class="govuk-form-group">
      <label class="govuk-label" for="postcode">
        Pakistani

        
      </label>
      <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" autocomplete="postal-code"></div>
    
      <div class="govuk-form-group">
        <label class="govuk-label" for="postcode">
          Bangladeshi

        
        </label>
        <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" autocomplete="postal-code"></div>
    
        <div class="govuk-form-group">
          <label class="govuk-label" for="postcode">
            Any other Asian background</label>
          <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" autocomplete="postal-code"></div>
    
          
              
</ul><br><br>

<h2 class="govuk-heading-m">Black / African / Caribbean / Black British
</h2>

<ul class="browse-list">
  

  <div class="govuk-form-group">
    <label class="govuk-label" for="postcode">
      African
    
    </label>
    <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" autocomplete="postal-code"></div>
    
    <div class="govuk-form-group">
      <label class="govuk-label" for="postcode">
        Caribbean
        
      </label>
      <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" autocomplete="postal-code"></div>
    
        <div class="govuk-form-group">
          <label class="govuk-label" for="postcode">
            Any other Black / African / Caribbean background</label>
          <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" autocomplete="postal-code"></div>      
              
</ul><br><br>

<h2 class="govuk-heading-m">Other ethnic group
</h2>

<ul class="browse-list">
  

  <div class="govuk-form-group">
    <label class="govuk-label" for="postcode">
      Arab
    
    </label>
    <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" autocomplete="postal-code"></div>
    
    
        <div class="govuk-form-group">
          <label class="govuk-label" for="postcode">
            Any other ethnic group</label>
          <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text" autocomplete="postal-code"></div>      
              
</ul><br><br>

  <fieldset class="govuk-fieldset">


          <a href="nationality" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}