{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

 <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      
  <h1 class="govuk-heading-m">Warwickshire college
  <span class="govuk-caption-m">UKPRN: 00012345</span></h1>
        
          <div class="govuk-form-group">


            <h1 class="govuk-heading-xl">
  What is their ethnicity?
</h1>
<p class="govuk-body">Enter the number of governors in each catagory.</p>
<br>
<h2 class="govuk-heading-m">White
</h2>
<table class="govuk-table">
                
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">English / Welsh / Scottish / Northern Irish / British
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-form-group">
       <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text"></div></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Irish
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-form-group">
       <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text"></div></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Gypsy or Irish Traveller</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-form-group">
       <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text"></div></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Roma</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-form-group">
       <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text"></div></td>
    </tr>


    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Any other White background</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-form-group">
       <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text"></div></td>
    </tr>

    
  </tbody>
</table>
<br><br><br>

<h2 class="govuk-heading-m">Mixed / Multiple ethnic groups
</h2>

<table class="govuk-table">
                
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">White and Black Caribbean
        
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-form-group">
       <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text"></div></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">White and Black African
        
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-form-group">
       <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text"></div></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">White and Asian
        </th>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-form-group">
       <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text"></div></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Any Other Mixed / multiple ethnic background</th>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-form-group">
       <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text"></div></td>
    </tr>

    
  </tbody>
</table>
<br><br><br>

<h2 class="govuk-heading-m">Asian / Asian British
</h2>

<table class="govuk-table">
                
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Indian
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-form-group">
       <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text"></div></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Pakistani
        
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-form-group">
       <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text"></div></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Bangladeshi
        </th>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-form-group">
       <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text"></div></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Chinese
        </th>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-form-group">
       <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text"></div></td>
    </tr>

    
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Any other Asian background
        </th>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-form-group">
       <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text"></div></td>
    </tr>
    
  </tbody>
</table>
<br><br><br>

<h2 class="govuk-heading-m">Black / African / Caribbean / Black British
</h2>

<table class="govuk-table">
                
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">African
        
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-form-group">
       <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text"></div></td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Caribbean
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-form-group">
       <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text"></div></td>
    </tr>

    

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Any other Black / African / Caribbean background
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-form-group">
       <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text"></div></td>
    </tr>

    
  </tbody>
</table>
<br><br><br>

<h2 class="govuk-heading-m">Other ethnic group
</h2>

<table class="govuk-table">
                
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Arab
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-form-group">
       <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text"></div></td>
    </tr>

    

    

    
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Any other ethnic group
        </th>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-form-group">
       <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text"></div></td>
    </tr>
    
  </tbody>
</table>
<br><br><br>

  <fieldset class="govuk-fieldset">


          <a href="nationality" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}