{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


        <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <span class="govuk-caption-xl">Impact Training Limited: provider data</span>        

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-xl">Check your answers</h1>




        <h2 class="govuk-heading-m">1. Teacher vacancies</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              3
            </dt>
            <dd class="govuk-summary-list__value">
              .
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          
        </dl>

        <h2 class="govuk-heading-m">2. Salary spend</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total spend
            </dt>
            <dd class="govuk-summary-list__value">
              £360000
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>


          </div>



          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              
            </dt>
            <dd class="govuk-summary-list__value">
              ...
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Percentage of total
            </dt>
            <dd class="govuk-summary-list__value">
              80%
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

        </dl>


        <h2 class="govuk-heading-m">3. Occupation/role</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Percentage of total
            </dt>
            <dd class="govuk-summary-list__value">
              80%
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>


          </div>
          
        </dl>



        <br>



        <h2 class="govuk-heading-m">Submit your data for 2017 - 2018</h2>

        <p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p><br>

        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <a href="confirmation" class="govuk-button show-continue" style="display: inline;">
      Accept and send
    </a>

        </form>

      </div>
    </div>
  </main>
</div>

</fieldset><br>


        <!--  <a href="seven" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>-->
       
      </div>
    </div>
  </main>
</div>


{% endblock %}