{% extends "layout.html" %}

{% block page_title %}
  FE staff data collection
{% endblock %}
{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
  

{% endblock %}

{% block content %}


        <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <span class="govuk-caption-xl">Impact Training Limited</span>
  <span class="govuk-caption-m">UKPRN: 21345671</span>


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
          <div class="govuk-form-group">

            <h1 class="govuk-heading-xl">
  How much of your income was spent on staff salaries?
</h1>

            
<div class="govuk-inset-text">
  Enter the total amount for teaching and non-teaching staff for 2020/21.
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="width-10">
    Total spend on staff salaries in £'s
  </label>
  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="width-10">
    Your staff spend as a percentage of your total income %
  </label>
  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
</div>

</fieldset><br><br>


          <a href="role" class="govuk-button show-continue" style="display: inline;">
      Save and continue
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}