{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


        <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <h1 class="govuk-heading-m">Impact Training Limited
  <span class="govuk-caption-m">UKPRN: 00012345</span></h1>


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
          <div class="govuk-form-group">

            <h1 class="govuk-heading-xl">
  How many staff do you employ?
</h1>

            
<p class="govuk-body">Include management, teaching and support staff.
  Include tempoary staff but not agency workers. Include part-time staff.
</p>

  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Up to 20 people
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          21 to 100 people
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
          101 + people
        </label>
      </div>
      
    </div>
  </fieldset>
</div>

</fieldset><br><br>


          <a href="mis" class="govuk-button show-continue" style="display: inline;">
      Save and continue
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}