{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <a href="#" class="govuk-back-link">Back</a>
 

  <h1 class="govuk-heading-m">John Vincent Adams
  <span class="govuk-caption-m">Impact Training Limited</span></h1>

        <h1 class="govuk-heading-xl">Answer questions</h1><br>


        <nav role="navigation">
  <ul class="browse-list">
    
      <li class="browse-list-item">
        <a class="browse-list-item-link" href="dob">About you</a>
        
          <p class="browse-list-item-body">
            eg web hosting or IT health checks
          </p>
        
        
          <p class="browse-list-item-subtext">
            Procurement framework: <a href="#">G-Cloud</a>
          </p>
        
        
      </li>
    
      <li class="browse-list-item">
        <a class="browse-list-item-link" href="#nope">Find specialists to work on digital projects to work on digital projects to work on digital projects to work on digital projects</a>
        
        
          <p class="browse-list-item-subtext">
            Procurement framework: <a href="#">Digital Services</a>
          </p>
        
        
      </li>
    
      <li class="browse-list-item">
        <a class="browse-list-item-link" href="#nope">Software as a Service</a>
        
          <p class="browse-list-item-body">
            Find applications or services that are run over the internet or in the cloud
          </p>
        
        
          <p class="browse-list-item-subtext">
            eg accounting, email
          </p>
        
        
      </li>
    
  </ul>
</nav>
  

    <a href="dob" button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  About you
</button></a><br>

<a href="choose" button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Your career in FE
</button></a><br>

<a href="one" button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Your qualifications
</button></a><br>

<a href="one" button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Subject taught
</button></a><br>

<a href="one" button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Your contract
</button></a><br><br>

<nav role="navigation">
  <ul class="browse-list">
    
      <li class="browse-list-item">
        <a class="browse-list-item-link" href="https://www.gov.uk">Find cloud technology and support</a>
        
          <p class="browse-list-item-body">
            eg web hosting or IT health checks
          </p>
        
        
          <p class="browse-list-item-subtext">
            Procurement framework: <a href="#">G-Cloud</a>
          </p>
        
        
      </li>
    
      <li class="browse-list-item">
        <a class="browse-list-item-link" href="#nope">Find specialists to work on digital projects to work on digital projects to work on digital projects to work on digital projects</a>
        
        
          <p class="browse-list-item-subtext">
            Procurement framework: <a href="#">Digital Services</a>
          </p>
        
        
      </li>
    
      <li class="browse-list-item">
        <a class="browse-list-item-link" href="#nope">Software as a Service</a>
        
          <p class="browse-list-item-body">
            Find applications or services that are run over the internet or in the cloud
          </p>
        
        
          <p class="browse-list-item-subtext">
            eg accounting, email
          </p>
        
        
      </li>
    
  </ul>
</nav>


        

        

        
      

          <!--<a href="questions" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>-->
        

        </div>

        
      </div>

     
    </div>
  


{% endblock %}