{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


        <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <h1 class="govuk-heading-m">Impact Training Limited
  <span class="govuk-caption-m">UKPRN: 00012345</span></h1>     

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        
          <div class="govuk-form-group">

            <h1 class="govuk-heading-xl">
  You have added 5 staff 
</h1>

            
<div class="govuk-inset-text">An email has been sent with a link to add their own details</div>



        <dl class="govuk-summary-list govuk-!-margin-bottom-3">
          <div class="govuk-summary-list__row">

            <dt class="govuk-summary-list__value">
            ITL00044
            </dt>
            <dt class="govuk-summary-list__value">
              Adams
            </dt>

            <dt class="govuk-summary-list__value">
            John Vincent
            </dt>

            <dd class="govuk-summary-list__value">
              jadams@impacttraining.com
            </dd>
            <dd class="govuk-summary-list__value">
              18.08.1991
            </dd>

            <dd class="govuk-summary-list__value">
              Send
            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="one-revisit">
                Edit</a> <a class="#" href="one-revisit">Remove<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          
        </dl>

        <dl class="govuk-summary-list govuk-!-margin-bottom-3">
          <div class="govuk-summary-list__row">

            <dt class="govuk-summary-list__value">
            ITL00045
            </dt>

            <dt class="govuk-summary-list__value">
              Angelo
            </dt>

            <dt class="govuk-summary-list__value">
             Julie Anne
            </dt>
            <dd class="govuk-summary-list__value">
              jangelo@impacttraining.com
            </dd>
            <dd class="govuk-summary-list__value">
              05.05.1982
            </dd>

            <dd class="govuk-summary-list__value">
              Send
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="#" href="posts-revisit">
                Edit</a>
                <a class="#" href="posts-revisit">Remove<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          
        </dl>


         

        <dl class="govuk-summary-list govuk-!-margin-bottom-3">
          <div class="govuk-summary-list__row">

            <dt class="govuk-summary-list__value">
            ITL00046
            </dt>
            <dt class="govuk-summary-list__value">
             Chan
            </dt>

            <dt class="govuk-summary-list__value">
             Kam
            </dt>
            <dd class="govuk-summary-list__value">
              kchan@impacttraining.com
            </dd>
            <dd class="govuk-summary-list__value">
              01.11.1989
            </dd>

            <dd class="govuk-summary-list__value">
              Send
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="#" href="posts-revisit">
                Edit</a>
                <a class="#" href="posts-revisit">Remove<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
        </dl>


        <dl class="govuk-summary-list govuk-!-margin-bottom-3">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
            ITL00047
            </dt>
            <dt class="govuk-summary-list__value">
             O'Tool
            </dt>

             <dt class="govuk-summary-list__value">
             Bernie
            </dt>

            <dd class="govuk-summary-list__value">
              botool@impacttraining.com
            </dd>
            <dd class="govuk-summary-list__value">
              11.02.1979
            </dd>

            <dd class="govuk-summary-list__value">
              Send
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="#" href="posts-revisit">
                Edit</a>
                <a class="#" href="posts-revisit">Remove<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

        </dl>

        <dl class="govuk-summary-list govuk-!-margin-bottom-3">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
            ITL00048
            </dt>
            <dt class="govuk-summary-list__value">
             Walt
            </dt>

            <dt class="govuk-summary-list__value">
            Jane
            </dt>

            <dd class="govuk-summary-list__value">
              jwalt@impacttraining.com
            </dd>
            <dd class="govuk-summary-list__value">
              29.06.1996
            </dd>

            <dd class="govuk-summary-list__value">
              Send
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="#" href="posts-revisit">
                Edit</a>
                <a class="#" href="posts-revisit">Remove<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

        </dl>


</fieldset>

<p class="govuk-table__cell--numeric"><a class="#" href="#">Add more staff</a> </p><br>


          <a href="start-staff" class="govuk-button show-continue" >
      Continue
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}