{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

 <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}


        

  
<h1 class="govuk-heading-m">Warwickshire college
  <span class="govuk-caption-m">UKPRN: 00012345</span></h1>   
        
        
        <h1 class="govuk-heading-xl">Charles Paris</h1>

        

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of Birth
            </dt>
            <dd class="govuk-summary-list__value">
              10.01.1992
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="edit">
                Change<span class="govuk-visually-hidden"></span>
              </a>
            </dd>

          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Sex
            </dt>
            <dd class="govuk-summary-list__value">
              Male
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="edit">
                Change<span class="govuk-visually-hidden"> Sex</span>
              </a>
            </dd>
          </div>
         

         <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Ethnicity
            </dt>
            <dd class="govuk-summary-list__value">
              White
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="edit">
                Change<span class="govuk-visually-hidden"> Ethnicity</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Disability
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="edit">
                Change<span class="govuk-visually-hidden"> Disability</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Nationality
            </dt>
            <dd class="govuk-summary-list__value">
              British
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="">
                Change<span class="govuk-visually-hidden"> Nationality</span>
              </a>
            </dd>
          </div>
          

        </dl>

        


         <a href="staff-zero" class="govuk-button show-continue" style="display: inline;">
      Back to summary list
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}