{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


        <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <h1 class="govuk-heading-m">Impact Training Limited
  <span class="govuk-caption-m">UKPRN: 00012345</span></h1>     

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
          <div class="govuk-form-group">

            <h1 class="govuk-heading-xl">
  Enter your staff and their email address
</h1>

            
<div class="govuk-inset-text">We will send them a link to an online form where they can add and submit their details</div>

<h2 class="govuk-heading-m">Staff member 1</h2>

<div class="govuk-form-group">
  <label class="govuk-label" for="name-on-the-account">
    Full name 
  </label>
  <input class="govuk-input" id="name-on-the-account" name="name-on-the-account" type="text" spellcheck="false">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="name-on-the-account">
    Email address
  </label>
  <input class="govuk-input" id="name-on-the-account" name="name-on-the-account" type="text" spellcheck="false">
</div>

</fieldset><br><br>

<h2 class="govuk-heading-m">Staff member 2</h2>

<div class="govuk-form-group">
  <label class="govuk-label" for="name-on-the-account">
    Full name 
  </label>
  <input class="govuk-input" id="name-on-the-account" name="name-on-the-account" type="text" spellcheck="false">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="name-on-the-account">
    Email address
  </label>
  <input class="govuk-input" id="name-on-the-account" name="name-on-the-account" type="text" spellcheck="false">
</div>

</fieldset><br><br>

<h2 class="govuk-heading-m">Staff member 3</h2>

<div class="govuk-form-group">
  <label class="govuk-label" for="name-on-the-account">
    Full name 
  </label>
  <input class="govuk-input" id="name-on-the-account" name="name-on-the-account" type="text" spellcheck="false">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="name-on-the-account">
    Email address
  </label>
  <input class="govuk-input" id="name-on-the-account" name="name-on-the-account" type="text" spellcheck="false">
</div>

</fieldset><br><br>

<h2 class="govuk-heading-m">Staff member 4</h2>

<div class="govuk-form-group">
  <label class="govuk-label" for="name-on-the-account">
    Full name 
  </label>
  <input class="govuk-input" id="name-on-the-account" name="name-on-the-account" type="text" spellcheck="false">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="name-on-the-account">
    Email address
  </label>
  <input class="govuk-input" id="name-on-the-account" name="name-on-the-account" type="text" spellcheck="false">
</div>

</fieldset><br><br>

<h2 class="govuk-heading-m">Staff member 5</h2>

<div class="govuk-form-group">
  <label class="govuk-label" for="name-on-the-account">
    Full name 
  </label>
  <input class="govuk-input" id="name-on-the-account" name="name-on-the-account" type="text" spellcheck="false">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="name-on-the-account">
    Email address
  </label>
  <input class="govuk-input" id="name-on-the-account" name="name-on-the-account" type="text" spellcheck="false">
</div>

</fieldset><br><br>


          <a href="staff-list" class="govuk-button show-continue" style="display: inline;">
      Save and continue
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}