{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <a href="#" class="govuk-back-link">Back</a>
 

  <h1 class="govuk-heading-m">Impact Training Limited
  <span class="govuk-caption-m">UKPRN: 00012345</span></h1>

        <h1 class="govuk-heading-xl">John Vincent Adams</h1>
        <span class="govuk-caption-xl">John Vincent Adams</span><br>

       <!-- <p class="govuk-body">You need to tell us about the people you employ - each year.</p>-->

        
      


          <a href="questions" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>
        

        

        
      </div>

     <!-- <div class="govuk-grid-column-one-third">

        The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            My Account
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link" href="#">
                  View my own staff data
                </a>
              </li>
              <li>
                <a class="govuk-link" href="#">
                  View national staff data
                </a>
              </li>

              <li>
                <a class="govuk-link" href="#">
                  My profile
                </a>
              </li>
              <li>
                <a href="#" class="govuk-link govuk-!-font-weight-bold">
                  More <span class="govuk-visually-hidden">in Subsection</span>
                </a>
              </li>
            </ul>
          </nav>
        </aside>

      </div>-->
    </div>
  </main>


{% endblock %}