{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <a href="#" class="govuk-back-link">Back</a>
 

  <h1 class="govuk-heading-m">John Vincent Adams
  <span class="govuk-caption-m">Impact Training Limited</span></h1>

        <h1 class="govuk-heading-xl">John Vincent Adams</h1><br>
  

    <a href="dob" button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  About you
</button></a><br>

<a href="choose" button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Your career in FE
</button></a><br>

<a href="one" button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Your qualifications
</button></a><br>

<a href="one" button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Subject taught
</button></a><br>

<a href="one" button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Your contract
</button></a><br><br>


        

        

        
      

          <!--<a href="questions" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>-->
        

        </div>

        
      </div>

     
    </div>
  


{% endblock %}