{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


        <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <h1 class="govuk-heading-m">Impact Training Limited
  <span class="govuk-caption-m">UKPRN: 00012345</span></h1>     

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        
          <div class="govuk-form-group">

            <h1 class="govuk-heading-xl">
  You have added 5 staff 
</h1>

            
<div class="govuk-inset-text">We will send them a link to an online form where they can add and submit their details</div>



        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              John Vincent Adams
            </dt>
            <dd class="govuk-summary-list__value">
              jadams@impact-training.com
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="one-revisit">
                Remove<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          
        </dl>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Julie Angelo
            </dt>
            <dd class="govuk-summary-list__value">
              jangelo@impact-training.com
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="staff-revisit">
                Remove<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          
        </dl>


         

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Kam Balachandra
            </dt>
            <dd class="govuk-summary-list__value">
              kbalachandra@impact-training.com
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="posts-revisit">
                Edit<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
        </dl><br>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Bernie O'Donnell
            </dt>
            <dd class="govuk-summary-list__value">
              bodonnell@impact-training.com
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="percentage">
                Remove<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

        </dl>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Jane Francesca Walthemstow- Bennett
            </dt>
            <dd class="govuk-summary-list__value">
              jwalthemstowbennett@impact-training.com
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="percentage">
                Remove<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

        </dl>


</fieldset>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             
            </dt>
            <dd class="govuk-summary-list__value">
              
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="add-staff">
                Add more staff<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

        </dl>


          <a href="#" class="govuk-button show-continue" >
      Submit
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}