{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


<div class="govuk-width-container">
  

  <h1 class="govuk-heading-m">Impact Training Limited
  <span class="govuk-caption-m">UKPRN: 00012345</span></h1>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">FE staff collection</h1>
        <span class="govuk-caption-xl">August 2020 to September 2021</span><br>

       <!-- <p class="govuk-body">You need to tell us about the people you employ - each year.</p>-->

        
        

        

    <a href="one" button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  My organisation details
</button></a><br>

<a href="choose" button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  My staff details
</button></a>

        

        

        
      </div>

      <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            My Account
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link" href="#">
                  View my own staff data
                </a>
              </li>
              <li>
                <a class="govuk-link" href="#">
                  View national staff data
                </a>
              </li>
              <li>
                <a href="#" class="govuk-link govuk-!-font-weight-bold">
                  More <span class="govuk-visually-hidden">in Subsection</span>
                </a>
              </li>
            </ul>
          </nav>
        </aside>

      </div>
    </div>
  </main>


{% endblock %}