{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


        <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <a href="#" class="govuk-back-link">Back</a>
 

  
  <span class="govuk-caption-m">Impact Training Limited</span><br>

        
        
        <h1 class="govuk-heading-xl">John Vincent Adams</h1>

        

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of Birth
            </dt>
            <dd class="govuk-summary-list__value">
              10.01.1992
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="gender2">
                Change<span class="govuk-visually-hidden"></span>
              </a>
            </dd>

          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Gender
            </dt>
            <dd class="govuk-summary-list__value">
              Male
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="gender2">
                Change<span class="govuk-visually-hidden"> Gender</span>
              </a>
            </dd>
          </div>
         

         <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Ethnicity
            </dt>
            <dd class="govuk-summary-list__value">
              White
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="ethnicity2">
                Change<span class="govuk-visually-hidden"> Ethnicity</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Disability
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="disability2">
                Change<span class="govuk-visually-hidden"> Disability</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Nationality
            </dt>
            <dd class="govuk-summary-list__value">
              British
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="nationality2">
                Change<span class="govuk-visually-hidden"> Nationality</span>
              </a>
            </dd>
          </div>
          
        


        

        
          

          

          

        </dl>

        <!--<h2 class="govuk-heading-m">Your time in FE</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time in current role
            </dt>
            <dd class="govuk-summary-list__value">
              10 years
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time in organisation
            </dt>
            <dd class="govuk-summary-list__value">
              10 years
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>


<div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time in FE
            </dt>
            <dd class="govuk-summary-list__value">
              10 years
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start date
            </dt>
            <dd class="govuk-summary-list__value">
              10 years
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              End date
            </dt>
            <dd class="govuk-summary-list__value">
              10 years
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>


<div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reason for leaving
            </dt>
            <dd class="govuk-summary-list__value">
              New job
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>




          


        

          

        </dl>


        <h2 class="govuk-heading-m">Your qualifications
        </h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Management male
            </dt>
            <dd class="govuk-summary-list__value">
              10
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Management female
            </dt>
            <dd class="govuk-summary-list__value">
              10
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          

          



        </dl>



        



        <h2 class="govuk-heading-m">Submit your staff data for 2020 - 2021</h2>

        <p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p><br>

        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <a href="confirmation" class="govuk-button show-continue" style="display: inline;">
      Accept and send
    </a>

        </form>

      </div>
    </div>
  </main>
</div>

</fieldset><br>-->


         <a href="complete-john" class="govuk-button show-continue" style="display: inline;">
      Back to summary list
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}