{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


        <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <h1 class="govuk-heading-m">Impact Training Limited
  <span class="govuk-caption-m">UKPRN: 00012345</span></h1>     

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        
          <div class="govuk-form-group">

            <h1 class="govuk-heading-xl">
  John Vincent Adams
</h1>



<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
          Personal
        </span>
      </h2>
    </div>
    </div>


  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2"> 
          Time in Further Education
        </span>
      </h2>
      
    </div>
    
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
          Qualifications
        </span>
      </h2>
    
    </div>
   
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
            Subjects taught
        </span>
      </h2>
      
    </div>
    
  </div>

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
            Contract
        </span>
      </h2>
      
    </div>
    
  </div>
</div>
<p class="govuk-table__cell--numeric"><a class="#" href="#">Add more</a> </p><br>


          <a href="confirmation" class="govuk-button show-continue" >
      Submit your staff details
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}