{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


        <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <span class="govuk-caption-xl">John Vincent Adams </span><br>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
            


 

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        What's their highest qualification in Maths?
      </h1>
    </legend>
    <!--<span id="sign-in-hint" class="govuk-hint">
      You’ll need an account to prove your identity and complete your Self Assessment.
    </span>--><br>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
          Level 1
        </label>
        <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          Example: functional skills or GCSE grade D - G
        </span>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in-2">
          Level 2
        </label>
        <span id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
          GCSE grade A* - C or equivalent
        </span>
      </div>

       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
          Level 3
        </label>
        <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          A Level or equivalent
        </span>
      </div>

       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
          Level 4
        </label>
        
      </div>

       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
          Level 5
        </label>
        
      </div>

       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
          Level 6
        </label>
        <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          Degree or equivalent
        </span>
      </div>

       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
          Level 7
        </label>
        <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          Post graduate or equivalent
        </span>
      </div>

       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
          Other
        </label>
        
      </div>

       <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
        <label class="govuk-label govuk-radios__label govuk-label--s" for="sign-in">
          Don't know
        </label>
        
      </div>
    </div>
  </fieldset>
</div>

<br><br>


          <a href="english" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}