{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


        
  <a href="#" class="govuk-back-link">Back</a>

  <span class="govuk-caption-xl">John Vincent Adams </span><br>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
            


<div class="govuk-form-group">
  
    
 <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Are they training to become a teacher?
      </h1>
    </legend>
    <span id="changed-name-hint" class="govuk-hint">
      This includes changing your last name or spelling your name differently.
    </span>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>



  



   


 
</div>
</div>
</div>

<br>


          <a href="what-training" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>
       
      </div>
    </div>
  
</div>


{% endblock %}