{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


        <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

   <span class="govuk-caption-xl">Warwickshire college</span>


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
          <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        What is the ethnicity of your staff?
      </h1>
    </legend><br>

    <div class="govuk-form-group">
    <label class="govuk-label" for="">
      Asian or Asian British
    </label>
    <span id="ethnic-group-item-hint" class="govuk-hint govuk-radios__hint">
          Includes any Asian background, for example, Bangladeshi, Chinese, Indian, Pakistani
        </span>
    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
  </div>

    <div class="govuk-form-group">
    <label class="govuk-label" for="">
      Black, African, Black British or Caribbean
    </label>
    <span id="ethnic-group-item-hint" class="govuk-hint govuk-radios__hint">
          Includes any Black background
        </span>
    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
  </div><div class="govuk-form-group">
    <label class="govuk-label" for="">
      Mixed or multiple ethnic groups
    </label>
    <span id="ethnic-group-item-hint" class="govuk-hint govuk-radios__hint">
          Includes any Mixed background
        </span>
    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
  </div><div class="govuk-form-group">
    <label class="govuk-label" for="">
      White
    </label>
    <span id="ethnic-group-item-hint" class="govuk-hint govuk-radios__hint">
          Includes any Asian background, for example, Bangladeshi, Chinese, Indian, Pakistani
        </span>
    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="">
      Asian or Asian British
    </label>
    <span id="ethnic-group-item-hint" class="govuk-hint govuk-radios__hint">
          Includes any Asian background, for example, Bangladeshi, Chinese, Indian, Pakistani
        </span>
    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="">
      Prefer not to say
    </label>
    <span id="ethnic-group-item-hint" class="govuk-hint govuk-radios__hint">
          Enter the prefer not to say total
        </span>
    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
  </div>


  </fieldset>
</div>


          <a href="answers" class="govuk-button show-continue" style="display: inline;">
      Save and Continue
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}