{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


        <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <span class="govuk-caption-xl">Impact Training Limited</span>


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
          <div class="govuk-form-group">

            <h1 class="govuk-heading-xl">
  About your organisation
</h1>

  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h2 class="govuk-heading-l">
        How many teaching vacancies do you have now?</h2>
    </legend>

    <div class="govuk-inset-text">
  Include vacancies filled by agency staff
</div>
  
    <div class="govuk-form-group">
    <label class="govuk-label" for="address-postcode">
      Total 
    </label>
    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
  </div><br><br>

</div>


      <h2 class="govuk-heading-l">
        Do you have courses that are difficult to recruit for?</h2>
    </legend>
</div>


</fieldset>


          <a href="staff" class="govuk-button show-continue" style="display: inline;">
      Save and continue
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}