{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


<div class="govuk-width-container">

  <h1 class="govuk-heading-m">Impact Training Limited
  <span class="govuk-caption-m">UKPRN: 00012345</span></h1>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">FE staff collection
        <span class="govuk-caption-xl">August 2020 to September 2021</span></h1><br>

        <p class="govuk-body">You need to tell us about the people you employ - each year.</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>There are two parts to this collection - provider and staff details</li>
          <li>You can save each section and return as many times as you need to before you submit</li>
          <li>In the staff section you can choose to upload a file from your own internal system - or add your staff into a form one at a time.</li>
          
        </ul>
        <p class="govuk-body">You don't need to tell us about the staff of your subcontractors.</p>

        <a href="one" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">You can also <a class="govuk-link" href="#">complete by post</a>.</p>

        

        
      </div>

      <div class="govuk-grid-column-one-third">


        <aside class="app-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            My account
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link" href="#">
                  View my own data
                </a>
              </li>
              <li>
                <a class="govuk-link" href="#">
                  View national data
                </a>
              </li>
              <li>
                <a href="#" class="govuk-link govuk-!-font-weight-bold">
                  More <span class="govuk-visually-hidden">in Subsection</span>
                </a>
              </li>
            </ul>
          </nav>
        </aside>

      </div>
    </div>
  </main>


{% endblock %}