{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


        <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

   <span class="govuk-caption-xl">Warwickshire college</span>


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
          <div class="govuk-form-group">

            <h1 class="govuk-heading-xl">
  What proportion of funding do you spend on staff salaries?
</h1>

            
<div class="govuk-inset-text">
  Enter the percentage
</div>
  

  


  


  


  <div class="govuk-form-group">
    <label class="govuk-label" for="#"><strong>
      Teacher</strong>
    </label>
    <input class="govuk-input govuk-input--width-10" id="" name="" type="text">
  </div>

<div class="govuk-form-group">
    <label class="govuk-label" for="#"><strong>
      Admin</strong>
    </label>
    <input class="govuk-input govuk-input--width-10" id="" name="" type="text">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="#"><strong>
      Support</strong>
    </label>
    <input class="govuk-input govuk-input--width-10" id="" name="" type="text">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="#"><strong>
      Non-teaching manager</strong>
    </label>
    <input class="govuk-input govuk-input--width-10" id="" name="" type="text">
  </div>

</fieldset><br><br>


          <a href="staff" class="govuk-button show-continue" style="display: inline;">
      Save and continue
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}