{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

 <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}



  <h1 class="govuk-heading-m">Impact Training Limited
  <span class="govuk-caption-m">UKPRN: 00012345</span></h1>


  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Were the vacancies filled?
              </h1>
            </legend>
            <div id="citizenship-conditional-hint" class="govuk-hint">
              Add the number of vacancies
            </div>
            
            <br><br>

            <h2 class="govuk-heading-m">English - Level 3</h2>
            <table class="govuk-table">
                
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header"></th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Yes - filled permanently or as advertised</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-form-group">
                   <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text"></div></td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Yes - filled temporarily
                  </th>
                  <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-form-group">
                   <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text"></div></td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">No</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-form-group">
                   <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text"></div></td>
                </tr>
              </tbody>
            </table>

          <br><br>
                  
            
                
                            <h2 class="govuk-heading-m">English - Level 4 and above</h2>
                            <table class="govuk-table">
                              <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                  <th scope="col" class="govuk-table__header"></th>
                                  <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
                                  <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
                                </tr>
                              </thead>
                                
                              
                              <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                  <th scope="row" class="govuk-table__header">Yes - filled permanently or as advertised</th>
                                  <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                                  <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-form-group">
                                   <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text"></div></td>
                                </tr>
                
                                <tr class="govuk-table__row">
                                  <th scope="row" class="govuk-table__header">Yes - filled temporarily
                                  </th>
                                  <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                                  <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-form-group">
                                   <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text"></div></td>
                                </tr>
                
                                <tr class="govuk-table__row">
                                  <th scope="row" class="govuk-table__header">No</th>
                                  <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                                  <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-form-group">
                                   <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text"></div></td>
                                </tr>
                              </tbody>
                            </table>
                            <br><br>
                
                        

            <h2 class="govuk-heading-m">Business Administration - Level 3</h2><br>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header"></th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
                </tr>
              </thead>
                                
                              
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Yes - filled permanently or as advertised</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-form-group">
                   <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text"></div></td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Yes - filled temporarily
                  </th>
                  <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-form-group">
                   <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text"></div></td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">No</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><div class="govuk-form-group">
                   <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text"></div></td>
                </tr>
              </tbody>
            </table>
          
            </div></div>

            
        
          </fieldset>
        </div>


          <a href="apprentices" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>
       
 </div>
</div>
</div></div>
        



{% endblock %}