{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

 <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}



  <h1 class="govuk-heading-m">Impact Training Limited
  <span class="govuk-caption-m">UKPRN: 00012345</span></h1>


  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                How long did it take to recruit a teacher?
              </h1>
            </legend><br>
      
              
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        
                      </legend>
                      <div class="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="teachers" name="teachers" type="radio" value="less">
                          <label class="govuk-label govuk-radios__label" for="teachers">
                            Less than one month
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="teachers-2" name="teachers" type="radio" value="months">
                          <label class="govuk-label govuk-radios__label" for="teachers-2">
                            2 to 3 months
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="teachers-3" name="teachers" type="radio" value="four">
                          <label class="govuk-label govuk-radios__label" for="teachers-3">
                            4 to 5 months
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="teachers-4" name="teachers" type="radio" value="over">
                          <label class="govuk-label govuk-radios__label" for="teachers-4">
                            Over 6 months
                          </label>
                        </div>
                      </div>
                  
                    </fieldset>
                  </div>
                     <br><BR>
        
        
        
                  <a href="filled" class="govuk-button show-continue" style="display: inline;">
              Continue
            </a>
               
         </div>


          
       
 </div>
</div>
</div>
</div>

        



{% endblock %}