{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

 <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}


  
        
  <h1 class="govuk-heading-m">Impact Training Limited
  <span class="govuk-caption-m">UKPRN: 00012345</span></h1>     

  
     <h1 class="govuk-heading-xl">
  Staff list
</h1>
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add a member of staff
        </button>
<table class="govuk-table">

      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
      
      <th class="govuk-table__cell--numeric"></th>
    </tr>
</thead>



<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    
    <td class="govuk-table__cell" scope="row"><h3 class="govuk-heading-s govuk-!-margin-bottom-1">
      <a href="#" class="govuk-link govuk-link--no-visited-state">
        John Adams
      </a>
    </h3>
        </td>
        
         <td class="govuk-table__cell" scope="row"><a class="govuk-link" href="#">
          Delete<span class="govuk-table__cell--numeric"></span>
        </a></td></tr>
  </tr>


  <tr class="govuk-table__row">
    
    <td class="govuk-table__cell" scope="row"><h3 class="govuk-heading-s govuk-!-margin-bottom-1">
      <a href="#" class="govuk-link govuk-link--no-visited-state">
        Julie Ann Angelo
      </a>
    </h3>
        </td>
        
      
         <td class="govuk-table__cell" scope="row"><a class="govuk-link" href="#">
          Delete<span class="govuk-table__cell--numeric"></span>
        </a></td></tr>
  </tr>

  <tr class="govuk-table__row">
    
    <tr class="govuk-table__row">
    
      <td class="govuk-table__cell" scope="row"><h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a href="#" class="govuk-link govuk-link--no-visited-state">
          Sharon Bansal
        </a>
      </h3>
          </td>
          
        
           <td class="govuk-table__cell" scope="row"><a class="govuk-link" href="#">
            Delete<span class="govuk-table__cell--numeric"></span>
          </a></td></tr>
    </tr>

  <tr class="govuk-table__row">
    
    <tr class="govuk-table__row">
    
      <td class="govuk-table__cell" scope="row"><h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a href="#" class="govuk-link govuk-link--no-visited-state">
          Jonathan Bridger
        </a>
      </h3>
          </td>
          
           <td class="govuk-table__cell" scope="row"><a class="govuk-link" href="#">
            Delete<span class="govuk-table__cell--numeric"></span>
          </a></td></tr>
    </tr>

  <tr class="govuk-table__row">
    
    <tr class="govuk-table__row">
    
      <td class="govuk-table__cell" scope="row"><h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a href="#" class="govuk-link govuk-link--no-visited-state">
          Henry Decorcey
        </a>
      </h3>
          </td>
          
           <td class="govuk-table__cell" scope="row"><a class="govuk-link" href="#">
            Delete<span class="govuk-table__cell--numeric"></span>
          </a></td></tr>
    </tr>

  <tr class="govuk-table__row">
    
    <tr class="govuk-table__row">
    
      <td class="govuk-table__cell" scope="row"><h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a href="#" class="govuk-link govuk-link--no-visited-state">
          John Dory
        </a>
      </h3>
          </td>
          
           <td class="govuk-table__cell" scope="row"><a class="govuk-link" href="#">
            Delete<span class="govuk-table__cell--numeric"></span>
          </a></td></tr>
    </tr>

  <tr class="govuk-table__row">
    
    <tr class="govuk-table__row">
    
      <td class="govuk-table__cell" scope="row"><h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a href="#" class="govuk-link govuk-link--no-visited-state">
          Andrew McPherson
        </a>
      </h3>
          </td>
          
           <td class="govuk-table__cell" scope="row"><a class="govuk-link" href="#">
            Delete<span class="govuk-table__cell--numeric"></span>
          </a></td></tr>
    </tr></tr>
  


</tbody>
</table> <br>

<table class="govuk-table">

  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
  <th class="govuk-table__row" scope="col"></th>
  <th class="govuk-table__cell--numeric"></th>
</tr>
</thead>



<tbody class="govuk-table__body">
<tr class="govuk-table__row">

  <tr class="govuk-table__row">
    
    <td class="govuk-table__cell" scope="row"><h3 class="govuk-heading-s govuk-!-margin-bottom-1">
      <a href="#" class="govuk-link govuk-link--no-visited-state">
        Armed Bharat
      </a>
    </h3>
        </td>
        
         <td class="govuk-table__cell" scope="row"><a class="govuk-link" href="#">
          Delete<span class="govuk-table__cell--numeric"></span>
        </a></td></tr>
  </tr>
</tr>






<tr class="govuk-table__row">
    
  <td class="govuk-table__cell" scope="row"><h3 class="govuk-heading-s govuk-!-margin-bottom-1">
    <a href="#" class="govuk-link govuk-link--no-visited-state">
      Amy Cozan
    </a>
  </h3>
      </td>
      
       <td class="govuk-table__cell" scope="row"><a class="govuk-link" href="#">
        Delete<span class="govuk-table__cell--numeric"></span>
      </a></td></tr>
</tr>
<tr class="govuk-table__row">

  <tr class="govuk-table__row">
    
    <td class="govuk-table__cell" scope="row"><h3 class="govuk-heading-s govuk-!-margin-bottom-1">
      <a href="#" class="govuk-link govuk-link--no-visited-state">
        Frederick Epstein
      </a>
    </h3>
        </td>
        
         <td class="govuk-table__cell" scope="row"><a class="govuk-link" href="#">
          Delete<span class="govuk-table__cell--numeric"></span>
        </a></td></tr>
  </tr>

<tr class="govuk-table__row">

  <tr class="govuk-table__row">
    
    <td class="govuk-table__cell" scope="row"><h3 class="govuk-heading-s govuk-!-margin-bottom-1">
      <a href="#" class="govuk-link govuk-link--no-visited-state">
        Joel Gowon
      </a>
    </h3>
        </td>
        
         <td class="govuk-table__cell" scope="row"><a class="govuk-link" href="#">
          Delete<span class="govuk-table__cell--numeric"></span>
        </a></td></tr>
  </tr></tr>

<tr class="govuk-table__row">

  <tr class="govuk-table__row">
    
    <td class="govuk-table__cell" scope="row"><h3 class="govuk-heading-s govuk-!-margin-bottom-1">
      <a href="#" class="govuk-link govuk-link--no-visited-state">
        Thomas Moore
      </a>
    </h3>
        </td>
        
         <td class="govuk-table__cell" scope="row"><a class="govuk-link" href="#">
          Delete<span class="govuk-table__cell--numeric"></span>
        </a></td></tr>
  </tr></tr>

<tr class="govuk-table__row">

  <tr class="govuk-table__row">
    
    <td class="govuk-table__cell" scope="row"><h3 class="govuk-heading-s govuk-!-margin-bottom-1">
      <a href="#" class="govuk-link govuk-link--no-visited-state">
        Mia Tam
      </a>
    </h3>
        </td>
        
         <td class="govuk-table__cell" scope="row"><a class="govuk-link" href="#">
          Delete<span class="govuk-table__cell--numeric"></span>
        </a></td></tr>
  </tr></tr>

<tr class="govuk-table__row">

  <tr class="govuk-table__row">
    
    <td class="govuk-table__cell" scope="row"><h3 class="govuk-heading-s govuk-!-margin-bottom-1">
      <a href="#" class="govuk-link govuk-link--no-visited-state">
        Vincent Jan Patlong
      </a>
    </h3>
        </td>
        <td class="govuk-table__cell"><strong class="govuk-tag app-tag--turquoise govuk-!-margin-bottom-1 govuk-!-font-size-14">
        Complete
        </strong></td>
         <td class="govuk-table__cell" scope="row"><a class="govuk-link" href="#">
          Delete<span class="govuk-table__cell--numeric"></span>
        </a></td></tr>
  </tr></tr>



</tbody>
</table> <br>


 


 

        

         <h2 class="govuk-heading-m govuk-!-font-size-27">Check and submit</h2>

        <p class="govuk-body">By submitting, you are confirming that to the best of your knowledge, the details you are providing are correct.</p><br>

        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <a href="confirmation" class="govuk-button show-continue">
      Submit staff details
    </a>

    &nbsp; &nbsp;

    <a href="start-staff"  class="govuk-button govuk-button--secondary">Save and finish later</a>

        

        </form>


        
      </div>
    </div>
  </main>
</div>

</fieldset><br>


       
       
      </div>
    </div>
  </main>
</div>


{% endblock %}