{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

 <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}


  
        
  <h1 class="govuk-heading-m">Impact Training Limited
  <span class="govuk-caption-m">UKPRN: 00012345</span></h1>     

  
     <h1 class="govuk-heading-xl">
  Your staff list
</h1>
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
<table class="govuk-table">

      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
      <th class="govuk-table__row" scope="col"></th>
      <th class="govuk-table__cell--numeric"></th>
    </tr>
</thead>



<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    
    <td class="govuk-table__cell" scope="row"><a class="browse-list-item-link" href="complete-john-five">John Adams</a>
        </td>
   <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong></td>
   <td class="govuk-table__cell" scope="row"><a class="govuk-link" href="#">
    Delete<span class="govuk-table__cell--numeric"> </span>
  </a></td>
  </tr>


  <tr class="govuk-table__row">
    
    <td class="govuk-table__cell" scope="row"> <a class="browse-list-item-link" a href="#">Julie Anne Angelo</a></td>
    
   <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong></td>
   <td class="govuk-table__cell" scope="row"><a class="govuk-link" href="#">
    Delete<span class="govuk-table__cell--numeric"></span>
  </a></td></tr>

  <tr class="govuk-table__row">
    
    <td class="govuk-table__cell" scope="row"> <a class="browse-list-item-link" a href="#">Sharon Bansal</a></td>
   
   <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong></td>
   <td class="govuk-table__cell" scope="row"><a class="govuk-link" href="#">
    Delete<span class="govuk-table__cell--numeric"> </span>
  </a></td></tr>

  <tr class="govuk-table__row">
    
    <td class="govuk-table__cell" scope="row"> <a class="browse-list-item-link" a href="#">Jonathan Bridger</a></td>
    
   <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong></td>
   <td class="govuk-table__cell" scope="row"><a class="govuk-link" href="#">
    Delete<span class="govuk-table__cell--numeric"></span>
  </a></td></tr>

  <tr class="govuk-table__row">
    
    <td class="govuk-table__cell" scope="row"> <a class="browse-list-item-link" a href="#">Henry Curtis</a></td>
    
   <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong></td>
   <td class="govuk-table__cell" scope="row"><a class="govuk-link" href="#">
    Delete<span class="govuk-table__cell--numeric"> </span>
  </a></td></tr>

  <tr class="govuk-table__row">
    
    <td class="govuk-table__cell" scope="row"> <a class="browse-list-item-link" a href="#">John Dory</a></td>
    
   <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong></td>
   <td class="govuk-table__cell" scope="row"><a class="govuk-link" href="#">
    Delete<span class="govuk-table__cell--numeric"> </span>
  </a></td></tr>

  <tr class="govuk-table__row">
    
    <td class="govuk-table__cell" scope="row"> <a class="browse-list-item-link" a href="#">Andrew McPherson</a></td>
    
   <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong></td>
   <td class="govuk-table__cell" scope="row"><a class="govuk-link" href="#">
    Delete<span class="govuk-table__cell--numeric"></span>
  </a></td></tr>
  


</tbody>
</table> 
 <p class="govuk-table__cell--numeric"><a class="#" href="add-two">Add a member of staff</a> </p><br>


 

        

         <h2 class="govuk-heading-m govuk-!-font-size-27">Check and submit</h2>

        <p class="govuk-body">By submitting, you are confirming that to the best of your knowledge, the details you are providing are correct.</p><br>

        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <a href="confirmation" class="govuk-button show-continue">
      Submit staff details
    </a>

    &nbsp; &nbsp;

    <a href="start-staff"  class="govuk-button govuk-button--secondary">Save and finish later</a>

        

        </form>


        
      </div>
    </div>
  </main>
</div>

</fieldset><br>


       
       
      </div>
    </div>
  </main>
</div>


{% endblock %}