
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds"><br>
      <h1 class="govuk-heading-xl">
        FE workforce data collection
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        Prototypes
      </p>

  

      <h2 class="govuk-heading-m">Discovery</h2>

      <p>Non-personalised staff data - <a href="/prototypes/questions/one"> AoC questions in a flow</a></p><br>


      <p>Concept one. - <a href="/prototypes/starting/details">Form</a></p><br>

      

      <h2 class="govuk-heading-s">Sprint two</h2>
      <p>Starting - <a href="/prototypes/starting/details">Provider data collection</a></p><br>

      

      <p>Starting - <a href="/prototypes/staff-flow/start-staff">Staff flow</a></p><br>

      

      
      <p>New concept sending emails out to staff - <a href="/prototypes/collection/details">New concept for collection</a></p><br>
      <p>Staff self service - <a href="/prototypes/questions/dob">Questions</a></p><br>



      <h2 class="govuk-heading-s">Sprint four</h2>

      <p>Combination of upload and staff self service - <a href="/prototypes/upload/details">Combination concept</a>
      </p><br><br>

      <h2 class="govuk-heading-s">Sprint six</h2>

      <p>Provider service - <a href="/prototypes/provider/details">User research</a>
      </p><br>

      <p>Staff questions - <a href="/prototypes/staff/dob">User research</a></p>


      <p>Example questions for John Vincent Adams - About you section only.<br> Working change link on 'check your answers'.</p>
      


      <br><br><br>

        <h2 class="govuk-heading-m">New start without staff self service</h2>

        

      <p>Eve's provider questions - <a href="/prototypes/eves/details">Start</a>
      </p><br>

      <p>Peter's staff questions - <a href="/prototypes/peters-staff/start-staff">Start</a>
      </p><br><br><br>



       <h2 class="govuk-heading-m">All questions for Eve and Helen to check</h2>

      <p>Provider questions - <a href="/prototypes/provider-eve/details">Start</a>
      </p><br>

      <p>Staff questions - <a href="/prototypes/all-staff/start-staff">Start</a>
      </p><br>

      <br><br>

      <h2 class="govuk-heading-m">Questions together in one flow</h2>

      <p>Small ITP flow - <a href="/prototypes/small-itp/details">Start</a>
      </p><br>
      <p>Small ITP non teacher - <a href="/prototypes/non-teacher/details">Shorter flow for Julie Anne Angelo</a>
      </p>
      <p>On 'My Staff' after adding John - add another member = Julie Anne Angelo.<br>Select 'Senior leadership' role and 'No' to Does their work include teaching?.</p>
      <p>Added new question to both in staff section called qualification-type</p>

      <br><br>

      <h2 class="govuk-heading-m">Second set of research with ITP's</h2>

      <p>ITP flow - <a href="/prototypes/itp2/details">Start</a>
      </p>
      <br><br>

      <h2 class="govuk-heading-m">UR feedback vacancies</h2>

      <p>Flow with form option - <a href="/prototypes/itp3/details">Start</a>
      </p>

      <br><br>

      <h2 class="govuk-heading-m">Content changes</h2>

      <p>Flow with form option - <a href="/prototypes/content-changes/details">Begin</a>
      </p>

      <br><br>

      <h2 class="govuk-heading-m">Teachers MVP</h2>

      <p>Teachers only flow - <a href="/prototypes/mvp/details">Start</a>
      </p>

      <br><br>

      <h2 class="govuk-heading-m">Defining our MVP</h2>

      <p>New flow- <a href="/prototypes/mvp-all/details">Start</a>
      </p>

      <br><br>

      <h2 class="govuk-heading-m">Back to three catagories of roles in vacancies questions</h2>

      <p>New flow- <a href="/prototypes/back-vacancies/details">Start</a>
      </p>

      <br><br>

      <h2 class="govuk-heading-m">Eves suggested vacancies question change</h2>

      <p>Vacancies <a href="/prototypes/vacancy-change/details">Start</a>
      </p>

      <br><br>


      <h2 class="govuk-heading-m">Adding admin staff and fixing the difficult questions</h2>

      <p>Difficult questions - <a href="/prototypes/difficult/details">Start</a>
      </p>

      <br><br>


      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
