
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        FE staff data collection
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        Prototypes
      </p>

  

      <h2 class="govuk-heading-m">Discovery</h2>

      <p>Non-personalised staff data - <a href="/prototypes/questions/one"> AoC questions in a flow</a></p><br>


      <p>Concept one - <a href="/prototypes/starting/details">Form</a></p><br>

      <p>Concept two - <a href="#">Self service</a></p><br>

      <h2 class="govuk-heading-s">Sprint two</h2>
      <p>Starting - <a href="/prototypes/starting/details">Provider data collection</a></p><br>

      

      <p>Starting - <a href="/prototypes/staff-flow/start-staff">Staff flow</a></p><br>

      

      
      <p>New concept sending emails out to staff - <a href="/prototypes/collection/details">New concept for collection</a></p><br>

      <h2 class="govuk-heading-s">Sprint three</h2><br><br>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
